/* CSS Document */

div.pagination {
	padding: 3px;
	margin: 3px;
	text-align:center;
}

div.pagination a {
	border: 1px solid #dedfde;
	margin-right:3px;
	padding:2px 6px;

	background-position:bottom;
	text-decoration: none;

	color: #0061de;		
}
div.pagination a:hover, div.meneame a:active {
	border: 1px solid #000;
	background-image:none;
	background-color:#0061de;
	color: #fff;
}
div.pagination span.current {
	margin-right:3px;
	padding:2px 6px;
	
	font-weight: bold;
	color: #ff0084;
}
div.pagination span.disabled {
	margin-right:3px;
	padding:2px 6px;

	color: #adaaad;
}
input#q {
    background-color: #FFFFFF;
    border: #C85858 solid 1px;
    height: 1.5em;
    padding: 1px 4px 0;
    width: 320px;
}

input#q {
    background-color: #FFFFFF;
    border: #C85858 solid 1px;
    height: 1.5em;
    padding: 1px 4px 0;
    width: 320px;
}
input.btn{
    background-color: #A83838;
    color: #FFFFF0;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}