/*
Fuente:
       http://www.cesarcancino.com/lightbox-o-ventana-modal-con-javascript-y-css-n168.html

*/
@charset "utf-8";
		.sobmbraUnload{
			display:none;
			top:0px;
			left:0px;
			width:0px;
			height:0px;
		}
  .sombraLoad{
   display: block;
   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index:1000;
   opacity:0.8;
   filter:alpha(opacity=60);
  }

		.windowUnload{
			display:none;
			top:0px;
			left:0px;
			width:0px;
			height:0px;
		}

  .windowLoad{
			display:block;
   position:fixed;
   background-color:#FFFFFF;

   border:#ffffff 5px solid;
   top:25%;
   left:25%;
   width:800px;
   height:365px;
   z-index:1001;
   
   /*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior:url(border-radius.htc);
	*/
        text-align: center;

  }
		.texto{
			margin:20px 20px 20px 20px;
			text-align:center;
		}


