/* CSS Document */
body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
/*MENU*/
ul#navmenu-h {
	color:#fff;
	display:inline-block;
	float:left;
	font:bold 9px Arial, Helvetica, sans-serif;
	list-style:none outside none;
	margin:0;
	padding:5px;
	width: 100%;
}
ul#navmenu-h ul {
	 /* Sub Menu Width */
	width:98px;
	padding: 7px 12px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	background:#fff;
	border:#eee;
}
ul#navmenu-h ul ul, ul#navmenu-h ul ul ul {
	top: 0;
	left: 100%;
}
ul#navmenu-h li {
	z-index: 999;
	float: left;
	display: inline;
	position: relative;
	border-right: 1px dotted rgb(98, 98, 98);
	width: 98px;
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
	color: #eee;
	background:#49494B;
	height: 23px;
}

ul#navmenu-h ul li {
	display: block;
}

/* Root Menu */
ul#navmenu-h a {
	border-right: 1px dotted rgb(98, 98, 98);
	width: 98px;
	float: left;
	display: inline;
	color: rgb(187, 187, 187);
	text-align:center;
	position: relative;
	padding: 4px 9px 0px;
	font-weight: bold;
	font-size: 12px;
	font: bold 9px Arial, Helvetica, sans-serif;
	font-style:center;
	cursor: pointer;
	text-decoration: none;
}

/* Root Menu Hover Persistence */
ul#navmenu-h a:hover, ul#navmenu-h li:hover a, ul#navmenu-h li.iehover a {
	/*background-color: #F6FE9B;*/
	color:#fff;
}
ul#navmenu-h a.activo {
	color:#eee;
	background-color:#ffff;
}
/* 2nd Menu */
ul#navmenu-h li:hover li a, ul#navmenu-h li.iehover li a {
	float: none;
	color:#FFF;
	font: bold 9px Arial, Helvetica, sans-serif;
	text-align:center;
	width:98px;
	padding: 7px 12px;
	background-color:#7f7f7f;
	border-top: 1px solid #dedede;
}
/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover, ul#navmenu-h li:hover li:hover a, ul#navmenu-h li.iehover li a:hover, ul#navmenu-h li.iehover li.iehover a {
	color:#fff;
	background-color:#FF0000;
}
/* Hover Function - Do Not Move */
ul#navmenu-h li:hover ul ul, ul#navmenu-h li:hover ul ul ul, ul#navmenu-h li.iehover ul ul, ul#navmenu-h li.iehover ul ul ul {
	display: none;
}
ul#navmenu-h li:hover ul, ul#navmenu-h ul li:hover ul, ul#navmenu-h ul ul li:hover ul, ul#navmenu-h li.iehover ul, ul#navmenu-h ul li.iehover ul, ul#navmenu-h ul ul li.iehover ul {
	display: block;
}
