p.separa{
	background-color:#FFF6D6;
	padding:5px;
}
div#contenido{
	margin: 0 auto;
	width:80%;
	margin-top: 100px;
}
div#menu{
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    height: 30px;
    width: 100%;
    top: 0px; left: 0px;
	position: fixed;
	z-index:9;
}
div#menu2{
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #CCCCCC;
    color: #666666;
    height: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 100%;
    position: fixed;
    z-index:9;
}
.content {
    margin: 0 auto;
    width: 80%;
    padding: 5px;
}
div#menu a.menu{
	background: none repeat scroll 0 0 #5C5C5C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #E5E5E5;
    cursor: pointer;
    font-family: Verdana,Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    width: auto;
    float:right;
    margin-right: 5px;
}
div#menu a.menu:hover{
  background: none repeat scroll 0 0 #D94426;
}
div#menu .txt{
	color: #E5E5E5;
	display:inline;
	margin:0px;
	float:left;
	padding:0px;
}
div#menu .txt h5{
	margin-top: 5px;
	margin-bottom: 0px;
}
div#menu2 .logo{
	margin-top: 3px;
	margin-right:25px;
	float:left;
}
div.titulo{
	background-color: #49494B;
    color: #FFFFFF;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 15px;

}
div.titulo p{
	margin:2px 0px 0px 0px;
	font-size:13px;
}
div#ui-datepicker-div
{
	font-size: 13px !important;
/*	top:70.8333px !important;*/
	z-index:10000 !important;
}

table.lista, td {
	vertical-align:middle;
}

table.lista{
	border-spacing:0px;
	margin-bottom:28px;
	width:100%;
	text-align: left;
	border-bottom: 2px solid #49494B;
	border-top: 2px solid #49494B;
}

table.lista tr.enc{
	color: #ffffff;
	padding:2px;
	text-transform:uppercase;
	background-color: #49494b;
}

table.lista tr{
	color: #000;
	padding:2px;
	text-transform:uppercase;
	background-color: #e2e2e2;
	border-bottom: 1 px solid #49494B;
}
table.lista td{
	padding:2px;
	border-bottom: 1px solid #49494B;
}
table.lista tr td p{
	display:inline;
	float:left;
	padding: 2px;
	margin-top: 5px;
}


table.lista .faltante{
	background-color: #e62332;
	color: #000;
}

table.lista .opcional{
	background-color: #ffac04;
	color: #000;
}


#FormPed input{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 282px;
	box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
}

#FormPed label{
	display: block;
	font-size: 14px;
	line-height: 2.5em;
	font-weight: light;
}
.error-box{
    background-color: #FFBABA;
    background-image: url("../img/error.png");
    color: #D8000C;
    margin-bottom: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
}
.loading{
	margin-bottom: 15px;
	float:right;
}

.msje{
	 margin-bottom: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 10px 50px;
}
.msje p{
	margin: 0px;
	text-align:left;
}
.error{
    background: url("../img/error.png") 9px 3px no-repeat #FFBABA;
    color: #D8000C;
}
.ok{
    background: url("../img/ok.png") 9px 3px no-repeat #DFF2BF;
    color: #4F8A10;
}
.info{
	color: #00529B;
	background: url('../img/info.png') 9px 3px no-repeat #BDE5F8;
}
.red{
	 background-color: #DF0101;
}

a.fal{
	text-decoration: none;
	float:left;
	color:#49494B;
	font-weight:bold;
	font-size:19px;
}
a.fal:hover{
    text-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
}
a.opc{
	background: url("../img/opcional.png") no-repeat;
	text-decoration: none;
	float:left;
	width: 17px;
	height: 17px;
}

.categorias_titulo h4{
	width:960px;
	float:left;
	padding:5px;
	border-bottom:1px solid #eee;
	margin-top: 20px;

}


.categorias {
	margin-left: 20px;
}


.button2, .button2 span {
   display: inline-block;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
}

.button2 {
    width: 110px;
    margin: 0 20px 20px 0;
    -moz-box-shadow: 1px 1px 1px #626262;
    -webkit-box-shadow: 1px 1px 1px #626262;
    box-shadow: 1px 1px 1px #626262;
}

.button2 span{
	background: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;/* FF3.6+ */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
	background: -o-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;/* Opera 11.10+ */
	background: -ms-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent; /* IE10+ */
	background: linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent; /* W3C */
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #35A0C2 inset, 1px 0 0 #4A911C inset, -1px 0 0 #35A0C2 inset, 0 -1px 0 #35A0C2 inset, 0 2px 0 #35A0C2 inset, 0 0 4px 35A0C2inset, 0 1px 2px #35A0C2;
	 -webkit-box-shadow: 0 1px 0 #35A0C2 inset, 1px 0 0 #4A911C inset, -1px 0 0 #35A0C2 inset, 0 -1px 0 #35A0C2 inset, 0 2px 0 #35A0C2 inset, 0 0 4px 35A0C2inset, 0 1px 2px #35A0C2;
	font:bold 10px Arial,Helvetica,sans-serif;
	color:#000;
	text-transform: uppercase;
	text-align:center;
	text-overflow:string;
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	/*width: 85px;*/
}

a.button2 span:hover{
   font:bold 10px Arial,Helvetica,sans-serif;
   color:#000;
   padding:0.6em 1.3em;
   text-align:center;
   text-overflow:string;
   background: -moz-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#DDDDDD));
	background: -o-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;/* Opera 11.10+ */
	background: -ms-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent; /* IE10+ */
	background: linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent; /* W3C */

}
a.btn3, input.btn3{
    background: none repeat scroll 0 0 #696969;
    border-radius: 10px 10px 10px 10px;
    color: #F1F1F1;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 8px 10px;
    text-decoration: none;
    cursor:pointer;
}

a.btn4:hover, input.btn4:hover{
	 background: none repeat scroll 0 0 #000000;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
}
.btn{
white-space:normal !important;
    max-width:130px;
}
.left{
	float:left;
}
.right{
	float:right;
}

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 10px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
 }
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}ul.ui-autocomplete li.ui-menu-item{text-align:left;}.ui-autocomplete {max-height: 100px; overflow-y: auto; overflow-x: hidden;padding-right: 20px;font-size: 1.1em;} * html .ui-autocomplete {height: 100px;}.ui-autocomplete-loading {background: white url('../img/ajax-loader.gif') right center no-repeat;}
.advertencia{
    border: 11px solid #086CA2;
    box-shadow: 5px 8px 10px #DEDEDE;
    font: bold 13px/16px Arial,Helvetica,sans-serif;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 5px 5px 10px 55px;
    width: 850px;
}
.tags{background-color: ##4D7BD6;}


/* TABLAS */

table.list
{
	border-collapse: collapse;
    margin: 0;
    padding: 0;
}
table.list tr
{
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  font-size: 14px;
}
table.list tr p
{
  font-size: 11px;
}
table.list tr.listwrap
{
	color: #333333;
    font-size: 14px;
	background-color:#ededed;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
p.monitor{
	color: #b7d597;
	font-size: 11px;
	font-weight: bold;
	padding: 0px 10px;
}
.info, .exito, .alerta, .error {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.png');
}
.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/exito.png');
}
.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/alerta.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
}

/* boton inicio */

a.botonvd, input.botonvd{
	text-transform: uppercase;
    display: block;
    float: left;
    font: bold 9px Arial,Helvetica,sans-serif;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    width: 110px;
    color:#fff;
	background:#343434;
	 letter-spacing: 1px;
	-webkit-border-radius:  5px;
	-moz-border-radius:  5px;
	border-radius:  5px;
}
a.botonvd:hover, input.botonvd:hover{
	text-transform: uppercase;
    display: block;
    float: left;
    font: bold 9px Arial,Helvetica,sans-serif;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    width: 110px;
    background:#6e4b4b;
    color:#fff;
	 letter-spacing: 1px;
	-webkit-border-radius:  5px;
	-moz-border-radius:  5px;
	border-radius:  5px;
}

