.contenedor {  
       BORDER-RIGHT: rgb(0,51,153) 2px solid; 
       PADDING-RIGHT: 0px; 
       BORDER-TOP: rgb(51,51,255) 2px solid; 
       PADDING-TOP: 0px; 
       BORDER-LEFT: rgb(51,51,255) 2px solid; 
       PADDING-LEFT: 0px; 
       BORDER-BOTTOM: rgb(0,51,153) 2px solid; 
       PADDING-BOTTOM: 0px; 
       COLOR: #000000; 
       POSITION: absolute; 
       WIDTH: 340;
       BACKGROUND-COLOR: #dddddd   
       }
.barratit { 
       PADDING-RIGHT: 0em; 
       PADDING-LEFT: 0em; 
       FONT-WEIGHT: bold; 
       PADDING-BOTTOM: 2px; 
       COLOR: rgb(255,255,255); 
       PADDING-TOP: 2px; 
       CURSOR: default;
       text-align: CENTER;
       HEIGHT: 20;  
       BACKGROUND-COLOR: rgb(0,51,204)  
       }
.contenido {  
       BORDER-RIGHT: #0000FF 0px solid; 
       PADDING-RIGHT: 0px; 
       BORDER-TOP: #0000FF 0px solid; 
       PADDING-TOP: 0px; 
       BORDER-LEFT: #0000FF 0px solid; 
       PADDING-LEFT: 0px; 
       BORDER-BOTTOM: #0000FF 0px solid; 
       PADDING-BOTTOM: 0px; 
       COLOR: saddlebrown; 
       BACKGROUND-COLOR: #ececec   
       }
.barraest { 
       PADDING-RIGHT: 0em; 
       PADDING-LEFT: 0em; 
       PADDING-BOTTOM: 0px; 
       COLOR: rgb(138,138,138); 
       PADDING-TOP: 0px; 
       BACKGROUND-COLOR: rgb(197,198,159)
       }
.txt_tit { 
       WIDTH: 90%;  
       text-align: CENTER;
       float: left;
       }
.bot_cerrar { 
       HEIGHT: 20;  
       WIDTH: 20;  
       COLOR: #FFFFFF; 
       float: right;
       BACKGROUND-COLOR: #990000  
       }
.bot_resize { 
       HEIGHT: 10;  
       WIDTH: 10;  
       COLOR: #FFFFFF; 
       float: right;
       CURSOR: nw-resize;
       BACKGROUND-COLOR: rgb(242,242,222)  
       }
