/* CSS Document */
@import url('menu.css');

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
* {
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
body {
	font:bold 9px Arial,Helvetica,sans-serif;
    background-color: #fff;
}

/*cabecera*/
header{
	background: #fff;
    height: 74px;
}
#content{
	width: 960px;
	margin:0 auto;
	height: 60px;
}
#img{
	float:left;
	width:200px;
	height:34px;
	margin-left:20px;
}
#titulo{
	float:left;
	width:240px;
	height:34px;
	margin-top:25px;
}
#menu-contenedor {
	float:left;
	width:500px;
	height:34px;
	margin-top:20px;
}
#sombra{
	background: url("../img/gradiente.gif") repeat-x scroll 0 0 transparent;
	height: 14px;
}
.cerrarsesion{
	width:110px;
	padding: 7px 12px;
	float: left;
	display: block;
	border:0px;
	color: #626262;
	text-align:center;
	font: bold 9px Arial, Helvetica, sans-serif;
	font-style:center;
	text-decoration: none;
}
/*contenido*/
#content-cols{
   clear: both;
    height: auto;
    min-height:450px;
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
    margin-bottom: 20px; 
    margin-top: 20px;
}

.col {
    float: left;
}
.col1{
	width: 330px;
	border-right:#000 dot 1px;  
	padding-right: 5px;  
	overflow:hidden;
}
.col2 {
    width: 330px;
    border:#000 dot 1px;    
   	padding: 0px 5px;
   	overflow:hidden;
}
.col3 {
    width: 278px;
    padding-left: 5px;  
    overflow:hidden;
}
.col4 {
    width: 660px;
    min-height:400px;
    padding-left: 5px;  
    overflow:hidden;
    
}
.border-cols{
	border-right: 1px dotted #626262;
}
.titulo{
	float:left;
	width:330px;
	background-color:#f8f8F8;
}
.titulo{
	float:left;
	width:660px;
	background-color:#f8f8F8;
}

.grande{
	width:330px;
	padding-bottom: 5px;
	float:left;
	margin-bottom: 7px;
	border-bottom: 1px dotted #626262;
}
.grande .desc img{
	float:left;
	width:330px;
	height:240px;
	margin-right:2px;
	overflow:hidden;
}

.mediano{
	width:330px;
	padding-bottom: 5px;
	float:left;
	margin-bottom: 7px;
	height: 138px;
	border-bottom: 1px dotted #626262;
}
.mediano .desc img{
	float:left;
	width:145px;
	height:105px;
	overflow:hidden;
	margin-right:2px;
}

.chico{
	width:330px;
	padding-bottom: 5px;
	float:left;
	margin-bottom: 7px;
	border-bottom: 1px dotted #626262;
}
.chico img{
	float:left;
	width:70px;
	height:70px;
	overflow:hidden;
	margin-right:2px;
}


.normal{
	width:330px;
	padding-bottom: 5px;
	float:left;
	border-bottom: 1px dotted #626262;
	margin-bottom: 7px;
}


/* pie */
footer {
   background-color:#343434;
   min-height:500px;
}
ul.pie{
	color:#bf;
    font:9px Verdana, Arial, Helvetica, sans-seri;
    float:left;
    margin-top: 7px;
    margin-right:2px;
}
ul.pie li{
	border-bottom: 1px solid #FDFDFD;
	list-style:none;
	color:#fff;
	padding-top: 5px; 
	padding-bottom: 5px;
	width: 320px; 
}
ul.pie li a{
	color:#fff;
	width: 320px;
	text-decoration:none;
}
.clear {
    clear: both;
}

span.fecha{
	color:#999;
    font:bold 10px  Arial,Helvetica,sans-serif;
    padding-right: 5px;
}
span.REGIONAL{
	background-color:#de9b00;
	font:bold 7px Arial,Helvetica,sans-serif;
	letter-spacing:0.5;
	color:#fff;
	padding: 2px;
	float:left;
	margin-right: 5px;
}
span.DISTRIBUIDOR{
	background-color:#659ab9;
	margin-right: 5px;
	font:bold 7px Arial,Helvetica,sans-serif;
	letter-spacing:0.5;
	color:#fff;
	padding: 2px;
	float:left;
}
span.LIDER{
	background-color:#6d8f6d;
	margin-right: 5px;
	font:bold 7px Arial,Helvetica,sans-serif;
	letter-spacing:0.5;
	color:#fff;
	padding: 2px;
	float:left;
}
span.GENERAL{
	background-color:#a169b3;
	margin-right: 5px;
	font:bold 7px Arial,Helvetica,sans-serif;
	letter-spacing:0.5;
	color:#fff;
	padding: 2px;
	float:left;
}

.msje_error{
	color:red;
	font-size:14px;
	font-style:bold;
}
.estructura{
	width:500px;
	height: 340px;
}

form.form-estr label{
	float:left;
	text-align:left;
	margin-top:20px;
	width: 110px;
	padding-top: 5px;
}

form.form-estr input{
	float:left; 
	width:300px; 
	margin-left:15px;
	margin-top:20px;
}
input.boton{
	width: 30px; 
	float:right;
	border: 10px outset #cccccc;
    background-color: #cccccc; 
}

form.form-estr select{
	float:left; 
	width:300px; 
	margin-left:15px;
	margin-top:20px;
}

form.form-estr select{
	float:left; 
	width:300px; 
	margin-left:15px;
	margin-top:20px;
}
input.dis{
	float:left;
	background:#fff;
	color:#000;
	width:295px; 
	
}
/**/

.categorias_titulo{
	height:30px; 
	padding-left: 0px;
	margin-top: 20px;
}
.categorias_titulo h4{
	float:left;
}
.categorias_titulo .linea{
	float:left;
	border-bottom:1px solid #eee;
	width: 801px; 
	height: 10px; 
	margin-left: 6px;
}
.categorias {
	margin-left: 20px;
}

.button, .button span {
   display: inline-block;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
}

.button {
    width: 110px;
    margin: 0 20px 20px 0;
    -moz-box-shadow: 1px 1px 1px #626262;
    -webkit-box-shadow: 1px 1px 1px #626262;
    box-shadow: 1px 1px 1px #626262;
}

.button span {
	font:bold 10px Arial,Helvetica,sans-serif;
	color:#626262;
	text-transform: uppercase;
	text-align:center;
	text-overflow:string;
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	width: 85px;
} 

a.button span:hover{
   font:bold 10px Arial,Helvetica,sans-serif;
   color:#fff;
   background-color:#d00202;
   border-top: rgba(255, 255, 255, .2) 1px solid;
   padding:0.6em 1.3em;
   text-align:center;
   text-overflow:string;

}
/*titulos*/

h1{
    color: #ff0000;
    font: bold 18px Times New Roman,Georgia,Serif;
}
h1 a{
    color: #ff0000;
    font: bold 18px Times New Roman,Georgia,Serif;
    text-decoration: none;
}
h1.recuadro{
	color: #626262;
	padding: 5px 10px;
	font-size: 13px;
	margin-bottom: 15px;
	margin-top: 15px;
	background: #F8F8F8;
	padding-left: 15px;
	line-height: 16px;
	overflow: hidden;
	-webkit-border-radius:  15px;
	-moz-border-radius:  15px;
	border-radius:  15px;
	text-transform: uppercase;
}
h2.negro{
	margin-top: 20px; 
	margin-bottom: 5px;
}
h2.negro a{
    text-decoration: none;	
    color:#000;
	font:bold 14px Times New Roman,Georgia,Serif;
}
h2.rojo{
    margin-top:20px;
    margin-bottom:5px;
}
h2.rojo a{
    text-decoration: none;
   	color: #ff0000;
	font: bold 18px Times New Roman,Georgia,Serif;
    text-decoration: none;
}
h3 {
	color:#ffb200;
    font: bold 9px Verdana, Arial, Helvetica, sans-seri;
    float:left;
    letter-spacing:0.5;
    width: 205px;
    margin-top:15px;
}
h4 {
	 color:#626262;
    font: bold 11 Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
    float:left;
    letter-spacing:0.5;
}
.desc p{
    color:#626262;
    font:10px Verdana, Arial, Helvetica, sans-seri;
    float:left;
    margin-top: 7px;
    margin-right:2px;
}
p.med{
	color:#6262;
    font:10px Verdana, Arial, Helvetica, sans-seri;
    float:left;
    margin-top: 7px;
    margin-right:2px;
    width:180px;
    height:240px;
}
p.resalta{
    color:#ff0000;
    font:bold 9px Arial,Helvetica,sans-serif;
}
label{
    color:#626262;
    font:bold 9px Arial,Helvetica,sans-serif;
}

/*MENSAJE*/
.alertamsn {
	color: #333;
	padding: 5px 10px;
	font-size: 13px;
	margin-bottom: 15px;
	margin-top: 15px;
	background: #FFC 10px 5px;
	padding-left: 15px;
	line-height: 16px;
	overflow: hidden;
	-webkit-border-radius:  15px;
	-moz-border-radius:  15px;
	border-radius:  15px;
}

/* AREA  DE TRABAJO */
/*TITULOS*/
.title{
	margin-bottom: 20px;
	font-size:12px;
}
.title a{
	float:right;
}
/* TABLAS */

table.list
{
	background: #FFFFFF;
	width: 100%;
	font-size:9px;
}

td.list
{
	background: #F0F0F0;
	white-space: nowrap
}
td.list2
{
	background: #E3E3E3;
	white-space: nowrap;
}

td.listwrap
{
	background: #EEEEEE;
}
td.listwrap2
{
	background: #E3E3E3;
}

.listtitle
{
	padding:1; 
	background:#626262; 
	color: #EEEEEE;
	white-space: nowrap
}

td.listtitle
{
	border-style:outset; 
	border-width:1; 
	text-align:center 
}

group{ 
	background-color: #CBD5E4 
}

td.group{ 
	text-align: center; 
	color: #405880; 
	background-color: #D0D7E6 
}
/* boton volver */

a.boton{
	text-transform: uppercase;
	color: #626262;
    display: block;
    float: left;
    font: bold 9px Arial,Helvetica,sans-serif;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    width: 110px;
    background:#F8F8F8;
    color:#fff;
	background:#FF0000;	
	-webkit-border-radius:  5px;
	-moz-border-radius:  5px;
	border-radius:  5px;
} 
a.edit {
    background: url("../img/edit.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 7px;
    margin-right: 7px;
}
a.delete {
    background: url("../img/delete_2.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
}
input.add {
    background: url("../img/add.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 26px;
    width: 16px;
    padding-left: 27px;
    margin-right: 15px; 
    margin-top: 7px;
    padding-right: 2px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.caja{
	width: 200px; 
	height: 50px;
	float:left;
	margin: 20px 20px 20px 0px;
}
.marginleft{
	margin-left:5px;
}
