#contenedor{
	height:auto;
	background-color: #fff;
	width: 780px;
	padding: 10px;
   margin: 0 auto;
   box-shadow: 5px 5px 8px 1px #333;
   -webkit-box-shadow: 5px 5px 8px 1px #333;
   -moz-box-shadow: 5px 5px 8px 1px #333;
   overflow: hidden;
}
.contenedor{
	height:auto;
	background-color: #fff;
	width: 780px;
	padding: 10px;
   margin: 0 auto;
   box-shadow: 5px 5px 8px 1px #333;
   -webkit-box-shadow: 5px 5px 8px 1px #333;
   -moz-box-shadow: 5px 5px 8px 1px #333;
   overflow: hidden;
}
.columna{
	float:left;
	overflow:hidden; 
	background-color: #fff;
	width: 730px;
} 
.izq{
	float:left;
	width:500px;
}
.der{
	float:left;
	width:200px;
}
.linea{
	border-bottom: 1px solid #eee;
	margin: 0px 20px 10px; 
	padding-bottom: 10px;
}
.linea p{
	font: 9px Arial, Helvetica, sans-serif;
}
div.formulario {
	background:#def3ca; 
	margin:10px; 
	width:600px; 
	padding: 10px; 
	text-align:center; 
	cursor: hand
}
div.form {
	font: 9px Arial, Helvetica, sans-serif;
	background:#fff;
	padding: 10px;	 
	border-bottom: 1px solid #FFFFFF;
    display: block;
    position: relative !important;
    text-decoration: none;
    width: auto;
    margin-top: 38px; 
    padding-top: 0px;
}
/*MENU*/
a.menuitem{
	background: #ededed;
	color: #333;
	text-transform: uppercase;
	position: relative !important;
	display: block;
	position: relative; 
	width: auto;
	padding: 10px 10px;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
}
h3.menuitem2 {
	background-color: #575757;
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: auto;
	padding: 10px 10px;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
}
a.menuitem:visited, .menu-left .menuitem:active {
	color: #333;
}

a.menuitem:hover {
	background-color: #575757;
	color: #FFF;
}
.submenu { 
	background: white;
}
.submenu ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.submenu ul li {
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	padding: 15px;
}
.submenu ul li a {
	color:#333;
	position: relative;
	padding: 7px 10px;
	display: block;
	text-decoration: none;
}
.submenu ul li a:hover {
	background-color: #575757;
	color: white;
	text-decoration: none;
}
.submenu2 { 
	background: white;
}
.submenu2 ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.submenu2 ul li {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}
a.active {
	background-color:#E77817;
	color:#FFF
}

form.form-estr{
	border: solid 2px #5757;
	height: auto;
	overflow: hidden;
	clear: both;
}

form.form-estr label{
	float:left;
	text-align:left;
	padding-top: 5px;
	width:740px; 
	margin-top: 25px;
	color:#6565;
	margin-right: 10px;
}

form.form-estr input{
	padding: 1px 3px;
	width: 350px; 
	float:right;
}
form.form-estr input.check{
	margin:25px 10px 0px 0px;
	float:left;
}
form.form-estr select{
	width:350px; 
	margin-left: 10px;
	float:right;
}
form.form-estr textarea{
	width: 350px; 
	height: 200px;
	float:right;
}
form.form-estr label.chico, form.form-estr input.chico{
	width:130px;
	margin-left: 20px;
	margin-top: 25px;
	float:left
}
form.form-estr input.small{
	width:36px;
	float:left
}
form.form-estr label.grande{
	margin-top: 18px; 
	width: 626px; 
}
form.form-estr span.errormsn{
	color:#DD4B39;
	display:block;
	line-height:17px;
	margin:0.5em 0 0;
	float:right;
	font-weight:bold;
	width:370px;
}

form.form-estr span.errormsn2{
	color:#DD4B39;
	display:block;
	line-height:17px;
	margin:0.5em 0 0;
	width:150px;
	float:left;
	font-weight:bold;
	margin: 25px 0px 0px 20px;
}
form.form-estr span label{
	width:30px;
	padding-left:3px;
	clear:both;
	color:#444;
	display:block;
	line-height:9px;
	margin:0;
	padding-top:3px;
}
form.form-estr span{
	width: 42px; 
	height: 44px;
	color: #444444;
	float: left;
	margin: 25 4px 0 0;
	padding: 0 0 8px;
}
form.form-estr .boton{
	background-color: #bbb;
	color: #FFF;
	padding: 5px 9px;
	border: none;
	cursor: pointer;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 163px; 
	margin-top: 10px;
	
}
#hora{
	float:left;
	width: 600px;
}
.clear{
	clear: both;
}

.alertamsn {
	color: #333;
	padding: 5px 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	background: #FFC 10px 5px;
	padding-left: 15px;
	line-height: 16px;
	overflow: hidden;
	-webkit-border-radius:  15px;
	-moz-border-radius:  15px;
	border-radius:  15px;
}
.alerta{
	 border: 1px solid #DD4B39;
}
input.edit {
    background: url("../img/edit.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 7px;
    margin-right: 7px;
}
input.delete {
    background: url("../img/delete_2.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    padding-left: 15px;
    margin-right: 7px; 
    margin-top: 7px;
    padding-right: 2px;
}
input.add {
    background: url("../img/add.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 26px;
    width: 16px;
    padding-left: 27px;
    margin-right: 15px; 
    margin-top: 7px;
    padding-right: 2px;
}
.left{
	float:left;
}
.right{
	float:right;
}
/* Formularios */

#formulario {
	top: 170px; 
	left: 40px;
    display: none;
    padding-left: 22px;
    position: absolute;
    width: 270px;
    z-index: 900;
    position: fixed;
    vertical-align: baseline;
}
#form1 {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #BEBEBE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 230px;
    z-index: 900;
}
#form1 a, #form1 ul, #form1 li {
    border: 0 none;
    font-family: inherit;
    font-size: 9px;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

#form1 .form1-title{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #F4F4F4 #F4F4F4 #FEFEFE;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    color: #555555;
    display: block;
    padding: 8px 10px;
    text-shadow: 0 1px 0 #F4F4F4;
    width: 210px;
}
#form1 ul {
    float: left;
    left: 0;
    list-style: none outside none;
    width: 218px;
}
#form1 ul li a {
    background: none repeat scroll 0 0 transparent;
    color: #555555;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    width: 198px;
}
.form1-arrow{
	background: url("../img/arrow.gif") no-repeat scroll left top transparent;
    display: block;
    height: 8px;
    position: absolute;
    width: 5px;
    z-index: 910;
    top: 16px; 
    left: 18px;
}
#form-left{
	background-color:#F4F4F4;
	position:fixed; 
	z-index:99; 
	left:0px; 
	top:35%; 
	display:block; 
	width:41px; 
	height:184px;
	border: 1px solid #BEBEBE;
	cursor:pointer;
}
#form-left p{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	color:#BEBEBE; 
}
input.lupa{
	background: url("../img/magnifier.png") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 7px;
    margin-right: 7px;
    float: right;
}
input.guardar{
	background: url("../img/guardar.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    width: 33px;
    height: 30px;
}
a.re{
	background: url("../img/refresh1.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 36px;
    width: 36px; 
    margin-right: 7px;
    float: right;
}
a.search {
	background: url("../img/buscar.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
	color:#333;
	text-decoration: none;
	padding-left: 19px;
	margin-right: 7px; 
	margin-top: 7px;
	padding-right: 2px;
}
#buscar input{
	font-family:Arial, Helvetica, sans-serif; 
	margin:0px;
	border:1px solid #999;
	padding:3px;	
}
#buscar input[type=image]{
	display:inline;
	width:auto;
	padding:4px 4px 2px;
	margin:0;
	border:none;
	background: url("../img/button.png")  0 -28px repeat-x;
}
#buscar input[type=image]:hover{
	background-position: 0 0;
}
.maright{
	margin-right:5px;
}
.centrar{
   margin:0px auto;
   
}
