body    { background: #fffbf0 }
p      { color: #600; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.titulo{ font-family:Arial; font-size:18px;color:blue;}
.tit_14   { color: #600; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
input { color: #900; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: #f5f5dc }
.cremita { color: #fffbf0; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.tit_cremita_16 { color: #fffbf0; font-weight: bold; font-size: 16px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
td      { color: #600; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
a:link { color: #900; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }
a:visited .titulo { color: #303; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }
a:hover { color: #900; font-style: oblique; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline }