<div class="alerta">
	<p>Cambiar el packaging de uno o varios productos, si ya esta iniciada la campa&ntilde;a, provocar&aacute; que luego no se pueda conocer la cantidad que fue descontada
	en picking el packaging original.<br><b>ESTA ACCI&Oacute;N ES IRREVERSIBLE, &Uacute;SELA CON RESPOSABILIDAD!</b>
	</p>
</div>
<div id="logs">

</div>
<form id="form_container" method="POST" name="form_pck" accept-charset="utf-8">
  <div>
    <ul>
      <li>
          <h2> Modificaci&oacute;n Individual o Masiva de Empaque</h2>
      </li>
      <li>
			<div>
				<label class="description" for="p">Cambiar un solo producto</label>
          <input id="xp" type="checkbox" name="p" placeholder="Ingrese ID VD" >
      </div>
      <div id="prod">
					<div>
						<input class="text" type="search" name="prod" />
					</div>
			</div>
      </li>
      <li>
        <label id="ea" class="description" for="ea">C&oacute;digo Empaque Actual: </label>
        <div>
          <input class="text" type="search" name="ea" required />
        </div>
        <label class="description" for="eo">C&oacute;digo Empaque Opcional:</label>
        <div>
          <input class="text" type="search" name="eo" required />
        </div>
      </li>
    </ul>
    <button id="process" name="bpck"></button>
  </div>
</form>
<div id="confirm"></div>
<script type="application/javascript">
jQuery(function(){

var cp=0;
var usuario="<?php echo $usuario;?>";

jQuery("#process").button({
	icons: { primary: "ui-icon-gear"},
	label: "Cambiar Empaque",
	text: true
});

// Autocomplete
jQuery(".text").autocomplete({
source: function( request, response ){
    jQuery.ajax({
        url: "empl/buscar_producto_all.php",
        data: { term: jQuery('form input:focus').val() },
        type: "POST",
        dataType: "json",
        error: function ( data ){ jQuery.blockUI({message:data,timeout:2600});},
        success: function( data )
        {
            response( jQuery.map( data, function( item )
            {
                return{
                        label: item.nombre,
												value: item.idVD,
												id_producto: item.id_producto
                }

            } ) );
        }
    });// End $.ajax
},
select: function( event,ui ){
  if(ui.item.value.length<11){
		jQuery(this).val(ui.item.value);
	}else{
		jQuery(this).val("");
	}
},
	minLength: 4
});

jQuery("label.description").css({display: 'inline'});
// Cambiar un solo producto
jQuery("#prod").css({display: "none"});

// CheckBox
jQuery("#xp").click(function(){
	if(jQuery(this).is(':checked')){
		jQuery("#ea").hide();
		jQuery("input[name='ea']").hide();
		jQuery("input[name='prod']").prop("required",true);
		jQuery("#prod").css({display:"block"});
		jQuery("input[name='prod']").focus();
		cp=1;
	}
	else{
		jQuery(this).prop("checked",false);
		jQuery("#ea").show();
		jQuery("input[name='ea']").show();
		jQuery("#prod").css({display:"none"});
		jQuery("input[name='prod']").prop("required",false);
		cp=0;
	}
});

// Process
jQuery("#process").click(function(event){
event.preventDefault();

var ea= jQuery("input[name='ea']").val();
var eo= jQuery("input[name='eo']").val();
var prod = jQuery("input[name='prod']").val();

var default_message_for_dialog = "Esta seguro/a que desea realizar este proceso?";
var theICON = '<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 0 0;"></span>';

if(ea!="" || eo!="" || (cp==1 && prod!="")){
	jQuery("#confirm").dialog({
		modal: true,
		bgiframe: true,
		width: 300,
		height: 200,
		autoOpen: false,
		resizable: false,
		title: 'Aviso!',
		buttons: {
				"Si" : function(){
							jQuery.ajax({
											url: "empl/modificar_packaging_masivamente.php",
											data: { ea:ea,eo:eo,prod:prod,cp:cp,u:usuario },
											type: "POST",
											dataType: "html"
											}).
											done(function(resp){
												jQuery.blockUI({title:"Aviso!",theme: true,message:resp,timeout:2800});
												jQuery(":input","#form_container").not(":button").val("");
												jQuery("input[name='p']").prop("checked",false);
											}).
											fail(function ( textStatus,errorTrown ){ jQuery.blockUI({title:"Error",theme: true,message: textStatus,timeout:2800});
							});
							jQuery(this).dialog("close");
				},
				"No" : function() {
						jQuery(this).dialog("close");
				}
		}
	});
	jQuery('#confirm').html('<p>' + theICON + default_message_for_dialog + '</p>');
	jQuery("#confirm").dialog("open");
}
else{
	jQuery.blockUI({title:'Advertencia!', theme: true,message: "Por favor ingrese y seleccione los ID VD de empaque para realizar esta acci&oacute;n",timeout: 2800});
}
});

});// End ready
</script>
