<style type="text/css">
	*
{
	FONT-SIZE: 8pt;
	FONT-FAMILY: verdana;
}

b
{
	FONT-WEIGHT: bold;
}

.toptext
{
	COLOR: #BBBBBB;
}
.bottomtext
{
	COLOR: #EEEEEE;
}


a
{
	TEXT-DECORATION: underline;
	COLOR: black;
}

a:hover
{
	COLOR: #9999CC;
}

u
{
	TEXT-DECORATION: underline;
}

.tree
{
	COLOR: #DEDEDE;
}

.title
{
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
}

.header
{
	FONT-WEIGHT: 600;
	FONT-SIZE: 10pt;
	COLOR: #123456;
}

.button
{
	FONT-SIZE: 12pt;
	border: 1px solid white;	
}

a.button
{
	TEXT-DECORATION: none;
}

a:hover.button
{
	TEXT-DECORATION: none;
	COLOR: black;
}

.highlighted
{
	border: 1px solid grey;
	border-style: outset;
}

table.list
{
	BACKGROUND: #FFFFFF;
	width: 100%;
	
}

td.list
{
	BACKGROUND: #F0F0F0;
	white-space: nowrap;
}
td.list2
{
	BACKGROUND: #E3E3E3;
}

td.listwrap
{
	BACKGROUND: #EEEEEE;
}
td.listwrap2
{
	BACKGROUND: #E3E3E3;
}

.listtitle
{
	padding:1;
	background:#983838;
	COLOR: #EEEEEE;
	white-space: nowrap;
}

td.listtitle
{
	border-style:outset;
	border-width:1; 
	text-align:center ;
}

group        { background-color: #CBD5E4 }
td.group     { text-align: center; color: #405880; background-color: #D0D7E6 }
	</style>