<form id="form_container" method="post" name="form_pagos" accept-charset="utf-8">
	<input id="nivel" type="hidden" name="nivel" value="3" />
  <div>
    <ul>
      <li>
          <h2>Ingresar los datos para el filtro</h2>
      </li>
      <li>
        <label class="pagos" for="regional">Regional ( Ingrese Parte de C&oacute;digo, Apellido o D.N.I ): </label>
        <div>
          <input id="revendedor" type="search" name="revendedor" required />&nbsp;
          <button id="update" type="button" class="buttons">Actualizar</button>
        </div>
      </li>
    </ul>
  </div>
</form>
<div class="clear"></div>
<span><a id="ayuda" class="btn" href="administracion.php?pagina=empl/func_emp_lista.php&usuario=<?php echo $usuario;?>&sesion=<?php echo $sesion;?>" title="Click aqu&iacute; para volver al men&uacute; principal">Men&uacute; Principal</a></span>
<div class="clear"></div>
<table id="lista_pagos_tarjeta_cf"></table>
<div id="pager_cf"></div>
<br>
<table id="lista_pagos_tarjeta_detalle_cf"></table>
<div id="pager_cf_d"></div>

<script type="text/javascript">

jQuery(function(){
// Usar solo la nueva API de jqGrid
jQuery.jgrid.no_legacy_api = true;

// Param Required ---------------------
var nivel	=jQuery("#nivel").val();
var codus	=jQuery("#revendedor").val();
var IDS=0;
var cf="N";
// -------------------------------------
jQuery.blockUI.defaults.theme= true;


jQuery("#update").click(function(){

	nivel	=jQuery("#nivel").val();
  codus	=jQuery("#revendedor").val();
 //alert(nivel+"-"+codus);
	jQuery("#lista_pagos_tarjeta_cf").jqGrid('setGridParam',{postData:{ nivel:nivel,revendedor:codus}}).trigger('reloadGrid');
	jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('setGridParam',{url:"empl/pagos_cf.php?q=1&id=0",page:1}).trigger('reloadGrid');

});

jQuery("#lista_pagos_tarjeta_cf").jqGrid({
   	url:'empl/pagos_con_tarjeta_cf.php',
		mtype: 'POST',
		datatype: "json",
		formatter: {number: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, defaultValue: '0.00' }},
		postData: {nivel:nivel, revendedor:codus},
		colNames:['ID Pago','C&oacute;digo','Apellido y Nombres CF','Tarjeta','SubTotal','Descuento','Interes','TOTAL CF'],
		colModel:[
			{name:'id',index:'id', width:55,align:"left"},
			{name:'clientef',index:'clientef', width:110,align:"left"},
			{name:'apeynom',index:'apeynom', width:315,align:"left"},
			{name:'tarjeta',index:'tarjeta', width:95,align:"left"},
			{name:'subtotal',index:'subtotal', width:95,align:"left",formattype:'currency'},
			{name:'descuento',index:'descuento', width:95,align:"left",formattype:'currency'},
			{name:'interes',index:'interes', width:95,align:"left",formattype:'number'},
			{name:'totalcf',index:'totalcf', width:95,align:"center",formattype:'number'}
		],
		rowNum: 50,
		rowList:[10,20,30,50],
		height: 'auto',
		width: 'auto',
		pager: '#pager_cf',
		sortname: 'apeynom',
		viewrecords: true,
		sortorder: "desc",
		multiselect: false,
		caption:"PEDIDOS - CLIENTES FINALES",
		onSelectRow: function(ids) {
				cf= jQuery("#lista_pagos_tarjeta_cf").getCell(ids,'clientef');
				IDS=ids;
				//alert(cf);
			if(ids == null) {
					ids=0;
					if( jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('getGridParam','records') >0 ) {
							jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('setGridParam',{url:"empl/pagos_cf.php?q=1&id="+ids+"&cf="+cf,page:1});
							jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('setCaption',"PRODUCTOS ABONADOS DE: "+cf).trigger('reloadGrid');
					}
			}
			else {
				jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('setGridParam',{url:"empl/pagos_cf.php?q=1&id="+ids+"&cf="+cf,page:1});
				jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('setCaption',"PRODUCTOS ABONADOS DE: "+cf).trigger('reloadGrid');
			}
		}
});
jQuery("#lista_pagos_tarjeta_cf").jqGrid('navGrid','#pager_cf',{add:false,edit:false,del:false,search:false})
.navButtonAdd('#pager_cf',{
   caption:"Ver Datos",
   buttonicon:"ui-icon-viewer",
   onClickButton: function(){
      cf  = jQuery("#lista_pagos_tarjeta_cf").getCell(IDS,'clientef');
		   //alert(IDS);
			if(IDS!=null){
				var informe= "empl/datos_cliente_final.php?id="+cf;

				var $dialog = jQuery('<div></div>')
               .html('<iframe style="border: 0px; " src="' + informe + '" width="100%" height="100%"></iframe>')
               .dialog({
                   autoOpen: false,
                   modal: true,
                   height: 460,
                   width: 560,
                   position: ["right", "top"],
                   title: "DATOS PERSONALES DE "+cf
               });
						$dialog.dialog('open');
			}
			else{
					jQuery.blockUI({
								message: "<p>Seleccione un Cliente Final para poder ver sus datos!</p>",
								timeout: 2000,
								centerY: 0,
								css: { top: '10px', left: '', right: '10px' }
					});
			}
    //console.log("ids:"+id);

   },
   position:"last"
});


jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid({
  url:'empl/pagos_cf.php?q=1&id=0',
	datatype: "json",
	type: 'POST',
	formatter: {number: { decimalSeparator: ",", thousandsSeparator: ".", decimalPlaces: 2, defaultValue: '0.00' }},
   	colNames:['Regional','Distribuidor','Producto','Cod. Autoriz.','Cant. Cuotas','Cantidad','SubTotal PSVP','Inter&eacute;s','Total CF'],
   	colModel:[
   		{name:'id_regional',index:'id_regional', width:110},
   		{name:'id_distrib',index:'distrib', width:110},
   		{name:'id_vd',index:'id_vd', width:130, align:"right"},
   		{name:'cod_autorizacion',index:'cod_autorizacion', width:110, align:"right"},
   		{name:'cant_cuotas',index:'cant_cuotas', width:110, align:"right"},
   		{name:'cantidad',index:'cantidad', width:80, align:"right"},
   		{name:'subtotal',index:'subtotal', width:115, align:"right",formattype:'currency'},
   		{name:'interes',index:'interes', width:80,align:"right", sortable:false, search:false,formattype:'currency'},
   		{name:'total',index:'total', width:80,align:"right", sortable:false, search:false,sorttype:"float", formatter:"number", summaryType:'sum'}
   	],
   	rowNum:30,
   	rowList:[5,10,20],
   	height: 'auto',
   	width: 'auto',
   	pager: '#pager_cf_d',
   	sortname: 'id_regional',
    viewrecords: true,
    sortorder: "asc",
		multiselect: false,
		caption:"PAGOS EFECTUADOS:"
});
jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('navGrid','#pager_cf_d',{add:false,edit:false,del:false,search:false})
.navButtonAdd('#pager_cf_d',{
   caption:"Facturar",
   buttonicon:"ui-icon-viewer",
   onClickButton: function(){

      var first= jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('getDataIDs');
			var operador="<?php echo $usuario; ?>";

			jQuery.ajax({
        url: "empl/marcar_facturados.php",
        data: { term: first[0], oper: operador },
        type: "POST",
        dataType: "json",
        error: function ( data ){
					jQuery.blockUI({
								message: "<p>"+data+"</p>",
								timeout: 2000,
								centerY: 0,
								css: { top: '10px', left: '', right: '10px' }
					});
				},
        success: function( data )
        {
					if(data=="1"){
						jQuery("#lista_pagos_tarjeta_cf").trigger('reloadGrid');
						jQuery("#lista_pagos_tarjeta_detalle_cf").jqGrid('setGridParam',{url:"empl/pagos_cf.php?q=1&id=0&cf=0",page:1}).trigger('reloadGrid');
						jQuery.blockUI({
								title: "<h1>Atenci&oacute;n</h1>",
								message: "<p>Todos los productos fueron facturados!</p>",
								timeout: 2000,
								centerY: 0,
								css: { top: '10px', left: '', right: '10px' }
						});
          }
          else{
							jQuery.blockUI({
								message: "<p>Error al intentar facturar los productos!</p>",
								timeout: 2000,
								centerY: 0,
								css: { top: '10px', left: '', right: '10px' }
						});
					}
        }
    });// End $.ajax

			//console.log("First ID:"+first);
   },
   position:"last"
});


});// End ready
</script>
