<a id="btnmenu" href="#menuStock">Menu</a>
<div id="menuStock" class="menuStock">
<ul>
	<li><a  href="empl/gestion_listas_precios_extendida.html">Actualizar Lista de Precios</a></li>
	<li><a  href="#">Actualizar Productos Masivo</a></li>
	<li><a  href="#">Cambiar Packaging Masivo</a></li>
	<li><a  href="./">Volver Menu Princ</a></li>
</ul>
</div>
<script type="text/javascript">
jQuery("#btnmenu").pageslide({ direction:"left",modal:true});
</script>
