<section class="ui-widget">
<input id="nivel" type="hidden" name="nivel" value="" />
  <div >
    <h2>Complete todos los datos</h2>
        <label id="rev" class="pagos" for="revendedor">L&iacute;der ( Ingrese Parte de C&oacute;digo, Apellido o D.N.I ): </label>
        <button id="tur" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-question-sign"></i> Ayuda</button>
        <div>
          <input id="revendedor" type="search" name="revendedor" required />
       </div>
  </div>
<form id="form_imputa" method="post" name="form_imputa" accept-charset="utf-8">
  <div class="left">
    <ul>
      <li>
        <div id="tipomov">
          <label class="pagos" for="tipo">D&eacute;bitos</label>
          <input id="tipos" type="radio" name="tipo" value="d" checked />&nbsp;
          <label class="pagos" for="tipo">Cr&eacute;ditos</label>
          <input id="tipos" type="radio" name="tipo" value="c" />&nbsp;
        </div>
      </li>
	  <li>
		<div id="campania">
			<label class="pagos" for="campania">Campa&ntilde;a:</label>
			<?php
				$sqlCampania="SELECT id_campania,CONCAT( id_campania, ' - ', obs ) AS paq
				FROM campanias
				ORDER BY id_campania DESC LIMIT 2";
				poner_combo_a_medida_1texto("campania","paq","id_campania",$sqlCampania,"Seleccionar campa&ntilde;a",0,"camp");
			?>
		</div>
	  </li>
	  <li>
		<label class="pagos" for="referencia">Referencia:</label>
		<div id="referencia">
			<textarea id="ref" name="referencia" cols="50" rows="3" wrap="hard" placeholder="Ingrese una referencia de la imputaci&oacute;n a realizar." required ></textarea>
		</div>
	  </li>
	  <li>
		<div id="monto">
				<label class="pagos">Monto a Imputar:</label>
				<input id="importe" type="text" name="monto" value="0" size="5" required />
		</div>
			<div id="nocheck">
				<input id="nvs" type="checkbox" name="nvs">
				<label class="pagos"> NO Controlar Saldo Disponible</label>
			</div>
	  </li>
		<li>
			<div>
				<button id="bimputa" class="btn btn-primary">Imputar</button>
			</div>
		</li>
	</ul>
  </div>
</form>
</section>
<div class="clear"></div>
<span><a id="ayuda" class="btn btn-primary" href="administracion.php?pagina=empl/func_emp_lista.php&usuario=<?php echo $usuario;?>&sesion=<?php echo $sesion;?>" title="Click aqu&iacute; para volver al men&uacute; principal" style="margin-left:50%;">Men&uacute; Principal</a></span>
<script type="application/javascript">
jQuery(function(){
var nvs;

	jQuery("input[name='tipo']").click(function(){

				if(jQuery(this).is(':checked')){
					var tipo=jQuery(this).val();

					if(tipo=='d'){
							jQuery("#nocheck").show();
					}else{
							jQuery("#nocheck").hide();
					}
			 }
	});

	jQuery("#nvs").change(function(){
			if(jQuery(this).is(":checked")){
				nvs=1;
				console.log("No controlar Saldo.");
			}else{
				nvs=0;
				console.log("Si controlar Saldo.");
			}
		});

	jQuery("#bimputa").click(function(e){
				e.preventDefault();
				var revendedor=jQuery("#revendedor").val();
				var tipos=jQuery("#tipos:checked").val();
				var campania=jQuery("#camp").val();
				var referencia=jQuery("#ref").val();
				var importe=jQuery("#importe").val();
				var u="<?php echo $usuario?>";

				jQuery.ajax({
					url:"empl/imputacion_manual_garantias_grabar.php",
					data:{r:revendedor,t:tipos,c:campania,ref:referencia,i:importe,ck:nvs,usuario:u},
					dataType: "html",
					type: "POST",
					cache: false })
					.done(function(respuesta){
						if(respuesta!='0'){ jQuery.blockUI({theme:true,title:"Advertencia",message: respuesta,timeout:2500});}
					});
		});
jQuery("#tur").click(function(){
		// Tour config
		var tour = new Tour({
		name: "tour",
		steps: [
			{
				element: "#revendedor",
				title: "Buscar Usuario",
				content: "Aqu&iacute; deber&aacute; ingresar un C&oacute;digo de usuario o parte de el para luego seleccionarlo de la lista."
			},
			{
				element: "#tipomov",
				title: "Tipo de Movimiento",
				content: "Aqu&iacute; deber&aacute; elegir un tipo de movimiento entre d&eacute;bito o cr&eacute;dito."
			},
			{
				element: "#campania",
				title: "Seleccionar Campa&ntilde;a",
				content: "Aqu&iacute; deber&aacute; elegir la campa&ntilde;a a la que corresponde el d&eacute;bito o cr&eacute;dito."
			},
			{
				element: "#referencia",
				title: "Referencia",
				content: "Aqu&iacute; deber&aacute; ingresar una observaci&oacute;n por la cual realiza la operaci&oacute;n."
			},
			{
				element: "#monto",
				title: "Importe",
				content: "Aqu&iacute; deber&aacute; ingresar el importe del d&eacute;bito o cr&eacute;dito."
			},
			{
				element: "#nocheck",
				title: "Verificaci&oacute;n de Saldo",
				content: "Aqu&iacute; deber&aacute; checkear esta opci&oacute;n si desea que no se verifique el saldo disponible cuando ingrese un d&eacute;bito."
			}
		],
		container: "body",
		keyboard: true,
		storage: false,
		debug: true,
		backdrop: true,
		redirect: true,
		orphan: true,
		duration: false,
		basePath: "",
		afterGetState: function (key, value) {},
		afterSetState: function (key, value) {},
		afterRemoveState: function (key, value) {},
		onStart: function (tour) {},
		onEnd: function (tour) {},
		onShow: function (tour) {},
		onShown: function (tour) {},
		onHide: function (tour) {},
		onHidden: function (tour) {},
		onNext: function (tour) {},
		onPrev: function (tour) {},
		onPause: function (tour, duration) {},
		onResume: function (tour, duration) {}
});

		tour.init();
		tour.start();
});


});
</script>
