<style>
.ui-autocomplete {max-height: 100px;overflow-y: auto;overflow-x: hidden;font-size: 0.9em;}* html .ui-autocomplete {height: 100px;}label {display: inline-block;width: 5em;}.ui-widget{font-size: 0.9em;}.ui-tooltip, .arrow:after {background: black;border: 2px solid white;}.ui-tooltip{padding: 10px 20px;color: white;border-radius: 20px;font: bold 11px "Helvetica Neue", Sans-Serif;text-transform: uppercase;box-shadow: 0 0 7px black;}.arrow{width: 70px;height: 16px;overflow: hidden;position: absolute;left: 50%;margin-left: -35px;bottom: -16px;}.arrow.top{top: -16px;bottom: auto;}.arrow.left{left: 20%;}.arrow:after{content: "";position: absolute;left: 20px;top: -20px;width: 25px;height: 25px;box-shadow: 6px 5px 9px -9px black;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);tranform: rotate(45deg);}.arrow.top:after{bottom: -20px;top: auto;}.ui-button .ui-button-text{height: 0.9em !important;}
#loading {
    height: 35px;
    width: 120px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #DEDEDE;
    display: none;
    z-index: 10000;
}
.load {
    position: absolute;
    right: -95%;
    margin-left: -32px;
    margin-top: -185px;
    display: block;
}
</style>
<div>
<p class="info">Con esta herramienta se podr&aacute;n unificar dos(2) revendedores que tienen id&eacute;nticos datos,esta acci&oacute;n es <b>IRREVERSIBLE</b>,al realizarla Ud. unificar&aacute; tambi&eacute;n los productos solicitados,pedidos, movimientos de la ctacte del Distribuidor,
los grabados solicitados y se eliminar&aacute;n las funcionalidades asignadas al viejo revendedor.</p>
</div>
<div class="ui-widget">
<form id="unificar" class="form-container" name="unificar" action="#">
	<span class="left" style="padding: 3px;">Revendedor Activo:</span><span class="ui-icon ui-icon-help left" title="Aqu&iacute; ingrese el c&oacute;digo del revendedor que quedar&aacute; activo en el sistema."></span>
	<input id="cliente1" class="left" type="search" name="cliente1" size="20" required="required" />
	<span class="left" style="padding: 3px;">Revendedor a Unificar:</span><span class="ui-icon ui-icon-help left" title="Aqu&iacute; ingrese el c&oacute;digo del revendedor que ser&aacute; reemplazado por el revendedor activo."></span>
	<input id="cliente2" class="left" type="search" name="cliente2" size="20" required="required" />
</form>
<div class="clear">&nbsp;</div>
<button id="procesar">Unificar Revend.</button>
<button id="reset">Otra B&uacute;squeda</button>
</div>
<div class="clear">&nbsp;</div>
<?php include("menu_pedidos_data_n1.php");?>
<div class="growlUI"></div>
<div id="confirm"></div>
<div id="loading"></div>
<script type="text/javascript">
//<![CDATA[
jQuery(function(){

// Tooltip
jQuery(document).tooltip({
	 position: {
	 		my: "center bottom-20",
	 		at: "center top",
	 		using: function( position, feedback ) {
							$( this ).css( position );
			jQuery( "<div>" )
			.addClass( "arrow" )
			.addClass( feedback.vertical )
			.addClass( feedback.horizontal )
			.appendTo( this );
			}
	}
});

// Ajax Method
// Start
jQuery(document).ajaxStart(function() {
  jQuery("#loading").addClass("load").html("<p align='center'><img src='./img/loading.gif' align='absmiddle'/>Procesando...</p>");
  jQuery("#loading").show();
});
// Complete
jQuery( document ).ajaxComplete(function() {
  jQuery("#loading").html("");
  jQuery("#loading").hide();
});
//*********************************************

// Reset Button
jQuery("#reset").button({
icons: {
primary: "ui-icon-search"
},
text: true
});

// Process Button
jQuery("#procesar").button({
icons: {
primary: "ui-icon-gear"
},
text: true
});

// Reset Button Action
jQuery("#reset").click(function(){
	jQuery("#cliente2").val("");
	jQuery("#cliente1").val("").focus();
});

// Process Button Action
jQuery("#procesar").click(function(e){

	e.preventDefault();

	var c1=jQuery("#cliente1").val();
	var c2=jQuery("#cliente2").val();
	var usuario="<?php echo $usuario;?>";
	var default_message_for_dialog = 'Esta seguro/a que desea unificar los siguientes revendedores?<br><p align="center" class="ui-state-highlight">Activo:<b>'+c1+"</b><br>Inactivo:<b>"+c2+"</b></p>";
	var theICON = '<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 0 0;"></span>';

if(c1!="" && c2!=""){
	jQuery("#confirm").dialog({
		modal: true,
		bgiframe: true,
		width: 305,
		height: 230,
		autoOpen: false,
		resizable: false,
		title: 'Confirmar Unificado',
		buttons: {
				"Confirmar" : function(){

							jQuery.ajax({
									url: "empl/unificar_revendedores.php",
									data: { cli1: c1,cli2: c2,usuario: usuario},
									type: "POST",
									dataType: "html"
							}).done(function (data, textStatus, jqXHR){
									jQuery.blockUI({title:'Atenci&oacute;n!',theme: true,message: data, timeout: 2800});
							}).fail(function(textStatus, errorThrow){
								jQuery.blockUI({title:'Error', theme: true,message: errorThrow,timeout:2800});
							});
							jQuery(this).dialog("close");
					},
					"Cancelar" : function() {
							jQuery(this).dialog("close");
					}
		}
	});
	jQuery('#confirm').html('<p>' + theICON + default_message_for_dialog + '</p>');
	jQuery("#confirm").dialog("open");
}
else{
			jQuery.blockUI({title:'Advertencia!', theme: true,message: "Por favor ingrese y seleccione los revendedores para realizar esta acci&oacute;n",timeout: 2800});
}
});


//****************************************************************************************

// Búsqueda según nivel, queda por defecto en 3::Revendedor
   var searchOptionNivel="0";

// ******************************* AUTOCOMPLETAR ******************************************
  jQuery("#cliente1").autocomplete({autoFocus: true,
		source: function( request, response ){
  			jQuery.ajax({
					url: "empl/buscar_usuario.php",
   				data: { term: request.term,s:searchOptionNivel},
   				type: "POST",
   				dataType: "json"
  			}).done(function ( data ){
   				response( jQuery.map( data, function( item )
   				{
       				return{
        						label: item.usuario+" ("+item.cod_us+")",
         						value: item.cod_us
							}
 					}));
  			}).fail(function( data ){
   					jQuery.growlUI('', data);
  			});
		},
		select: function( event,ui ){
			if(ui.item.value!='No se encontraron usuarios coincidentes.'){
    		jQuery(this).val(ui.item.value);
    		jQuery("#cliente1").focus();

    	}
    },
    minLength: 3
	});

	jQuery("#cliente2").autocomplete({autoFocus: true,
		source: function( request, response ){
  			jQuery.ajax(
  			{
					url: "empl/buscar_usuario.php",
   					data: { term: request.term,s:searchOptionNivel},
   					type: "POST",
   					dataType: "json"
   			}).done(function ( data ){
   				response( jQuery.map( data, function( item )
   				{
       				return{
        						label: item.usuario+" ("+item.cod_us+")",
         						value: item.cod_us
							}
 					}));
  			}).fail(function( data ){
   					jQuery.growlUI('', data);
  			});
		},
		select: function( event,ui ){
			if(ui.item.value!='No se encontraron usuarios coincidentes.'){
    		jQuery(this).val(ui.item.value);
    		jQuery("#cliente2").focus();

    	}
    },
    minLength: 3
	});
//******************************************

}); // End ready
//]]>
</script>

