div#menu{
    height:40px;
    background-color:#555555;
    color:white;
    margin-top:25px;
    line-height:40px;
    text-align:left;
    margin-bottom: 20px; 
    padding-left: 20px;
}

p#info_usuario{
    text-align:right;
    padding-right:10%;
}

div#navigation a{
    color:white;
}

p.titulo{
	font:bold 14px Arial,Helvetica,sans-serif;
	color:#000;
}


