/* CSS Document */
#upload_button {
	color:#000;
	text-align: center;
	font-weight:bold;
	padding-top:15px;
	margin:auto;
	cursor:pointer;
	width: 100px;
}
#upload_button:hover{
	color:#CCCCCC;
}