.right{float:right;}
input{margin-top:5px;margin-bottom:5px;}
form label.error{font:10px Tahoma,sans-serif;color:#ED7476;margin-left:5px; display:inline;}
form input.error,form input.error:hover,form input.error:focus,form select.error,form textarea.error{border:1px solid #ED7476;background:#FFEDED}
