
#sitemap {
    margin-top: 10px;
}
#sitemap, #sitemap ul, #sitemap li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#sitemap {
    margin-top: 10px;
}
#sitemap {
    background: url("img/line1.gif") repeat-y scroll 0 0 transparent;
}
#sitemap li {
    line-height: 20px;
    margin-top: 1px;
    position: relative;
    width: 100%;
}
* html #sitemap li {
    display: inline;
    float: left;
}
#sitemap li img {
    vertical-align: top;
}
#sitemap li a {
    padding-left: 28px;
}
#sitemap li a.icon {
    padding-left: 3px;
}
#sitemap li a:hover {
    color: #111111;
}
#sitemap li span {
    cursor: auto;
    float: left;
    font-size: 0;
    height: 13px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 13px;
}
#sitemap li span, #sitemap li span.collapsed {
    background: url("img/collapsed.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#sitemap li span.expanded {
    background: url("img/expanded.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
#sitemap li ul {
    background: url("img/line1.gif") repeat-y scroll 0 0 transparent;
    margin-left: 28px;
}
#sitemap li a {
    background: url("img/line2.gif") no-repeat scroll 0 0 transparent;
    text-decoration:none;
    color:#000
}
#sitemap:after, #sitemap ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#sitemap, #sitemap ul {
    display: block;
}
#sitemap, #sitemap ul {
    min-height: 1%;
}
* html #sitemap, * html #sitemap ul {
    height: 1%;
}
#sitemap ul {
    display: none;
}
