/*
   This is a secondary default stylesheet for mPDF
   It will only parse element-level CSS here 
   Remove the comment marks below and edit as required
*/



/* 
   These values used to be the default prior to mPDF 4.2
   Altered to make appearance closer to that of browsers
   Uncomment these lines to return to behaviour prior to v4.2  
*/


/*
img { margin: 0.83em 0; vertical-align: bottom; }
table { margin: 0.5em; }
textarea { vertical-align: top; }
*/

body {
	font-family: sans-serif;
	font-size: 7pt;
}
h5, p {
	margin: 0pt;
}
table.items {
	font-size: 7pt;
	border-collapse: collapse;
	border: 3px solid #880000;
}
td { 
	vertical-align: top;
}
table thead td { 
	background-color: #EEEEEE;
	text-align: center;
}
table tfoot td { 
	background-color: #AAFFEE;
	text-align: center;
}
.barcode {
	margin: 0;
	vertical-align: top;
	color: #000000;
}
.barcodecell {
	text-align: center;
	vertical-align: middle;
	padding: 0;
	float:rights;
}
.left{
	float:left;
}
.center{
	text-align:center;
}
.right{
	float:right;
}
.fecha{
	font-size: 5pt;
    float: right;
    padding: 1mm;
    text-align: right;
    width: 60%;
}
.importe{
    background-color: #EEEEEE;
    float: right;
    border: 1px solid #000000;
    text-align: right;
    width: 30%;
}
.contiene{
	border:1 px solid #FF3333;
	float: right;
    height: 21px;
    margin-top: 10px;
	width:100%;
}
.msjeAlerta{
	border: 0.1mm solid; 
	padding: 10px; 
	margin-top: -34px; 
	text-align: center; 
	float: right; 
	width:400px;
}
.msjePromo{
	border: 0.1mm dashed; 
	padding: 5px; 
	margin-top: 5px; 
	text-align: center; 
}
.msjeTitulo{
	border: 0.2mm solid; 
	background-color: #EEEEEE;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px; 
	margin-top: -34px; 
	text-align: center; 
}
.alignleft{
	text-align:left;
}
.aligncenter{
	text-align:center;
}
.alignright{
	text-align:right;
}

