<style type="text/css">
	*
{
   font-size: 10px;
 	font-family: verdana;
}
input
{ 
 color: #000000;
 border-color: #000000 #FFFFFF #FFFFFF #000000;
 background-color: #FFFFE6;
 border-style: solid;
 border-top-width: 1px; 
 border-right-width: 1px;
 border-bottom-width: 1px; 
 border-left-width: 1px;
 font-size: 12px; 
 font-weight: bold;
 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
 background-color: #FFFFFF;
}

.combo
{
	color: #000000;
	border-color: #000000 #FFFFFF #FFFFFF #000000;
	background-color: #FFFFE6;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	background-color: #FFFFFF;
}
.area
{ 
 color: #000000; 
 border-color: #000000 #FFFFFF #FFFFFF #000000;
 border-style: solid;
 border-top-width: 1px; 
 border-right-width: 1px;
 border-bottom-width: 1px; 
 border-left-width: 1px;
 font-size: 12px; 
 font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
 background-color: #FFFFFF;
}
.button
{
	color: #000000;
  font-size: 12px;
  background: transparent url(./skin/1/degrad.jpg);
  border-style: solid;
  border-top-width: 2px; 
  border-right-width: 3px;
  border-bottom-width: 3px; 
  border-left-width: 2px;
  border-color: #FFFFFF #000000 #000000 #FFFFFF;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	font-weight: bold; 
}
.submit
{
	color: #000000; 
  font-size: 12px;
  background: transparent url(./skin/1/degrad.jpg);
  border-style: solid;
  border-top-width: 2px; 
  border-right-width: 3px;
  border-bottom-width: 3px; 
  border-left-width: 2px;
  border-color: #FFFFFF #000000 #000000 #FFFFFF;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	font-weight: bold; 
}
.reset
{
	color: #000000; 
  font-size: 12px;
  background: transparent url(./skin/1/degrad.jpg);
  border-style: solid;
  border-top-width: 2px; 
  border-right-width: 3px;
  border-bottom-width: 3px; 
  border-left-width: 2px;
  border-color: #FFFFFF #000000 #000000 #FFFFFF;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	font-weight: bold; 
}
b
{
	FONT-WEIGHT: bold;
}

.toptext
{
	COLOR: #BBBBBB;
}
.bottomtext
{
	COLOR: #EEEEEE;
}

a
{
	TEXT-DECORATION: none;
	COLOR: black;
}

a:hover
{
	COLOR: #9999CC;
}

u
{
	TEXT-DECORATION: none;
}

.tree
{
	COLOR: #DEDEDE;
}

.title
{
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
}

.header
{
	FONT-WEIGHT: 600;
	FONT-SIZE: 10pt;
	COLOR: #123456;
}

a.button
{
	TEXT-DECORATION: none;
}

a:hover.button
{
	TEXT-DECORATION: none;
	COLOR: black;
}

.highlighted
{
	border: 1px solid grey;
	border-style: outset;
}

table.list
{
  padding:1;
  BACKGROUND: #FFFFFF;
}

td.list
{
  border: 1px solid White;
  padding:1;
  BACKGROUND: #F0F0F0;
	white-space: nowrap
}
td.list2
{
	border: 1px solid White;
	BACKGROUND: #E3E3E3;
	white-space: nowrap;
}
td.listpie
{
	BACKGROUND: #EEEEFF;
}
td.listwrap
{
   padding: 1px;
	BACKGROUND: #EEEEEE;
	border: 1px solid White;
}
td.listwrap2
{
   padding: 1px;
	BACKGROUND: #E3E3E3;
	border: 1px solid White;
}
td.listwrapgrande
{
   padding: 1px;
	BACKGROUND: #EEEEEE;
	border: 1px solid White;
}
td.listwrap2grande
{
   padding: 1px;
	BACKGROUND: #E3E3E3;
	border: 1px solid White;
}

td.listwrap3
{
   padding: 1px;
	BACKGROUND: #EEEEEE;
}
td.listwrap4
{
   padding: 1px;
	BACKGROUND: #E3E3E3;
}
table.listtitle
{
  padding:1;
  color: #FFFFE6;
  font-weight: bold;
	white-space: nowrap;
}

.listtitle
{
  padding:1;
  color: #FFFFE6;
  font-weight: bold;
	white-space: nowrap;
}

td.listtitle
{
  padding:1;
  background: transparent url(./skin/1/degrad.jpg);
	color: #000000;
	font-weight: bold;
	white-space: nowrap;
  border-style:outset;
	border-width: 1;
	text-align: center;
	font-size: 16;
}
td.listtitlegrande
{
  padding:1;
  background: transparent url(./skin/1/degrad.jpg);
	color: #000000;
	font-weight: bold;
	white-space: nowrap;
  border-style:outset;
	border-width: 1;
	text-align: center;
}
group        { background-color: #CBD5E4 }
td.group     { text-align: center; color: #405880; background-color: #D0D7E6 }
.CalCell
{
 TEXT-DECORATION: none;
 COLOR: red;
 FONT-SIZE: 100pt;
}
	</style>
