/* CSS Document */
.bk-box-head {font-weight: normal;font-size: 18px;color: #ffffff;font-family: Arial, Helvetica, sans-serif;text-decoration: none;}
.bk-formG { font-size: 12px; color: #000000; font-style: normal; font-family: Arial, Helvetica, sans-serif; font-variant: normal; text-decoration: none;}
.bk-form100wd {font-size: 12px;width: 100px;color: #000000;font-style: normal;font-family: Arial, Helvetica, sans-serif;font-variant: normal;text-decoration: none;}
.bk-form150wd {font-size: 12px;width: 150px;color: #000000;font-style: normal;font-family: Arial, Helvetica, sans-serif;font-variant: normal;text-decoration: none;}
.bk-form200wd {font-size: 12px;width: 200px;color: #000000;font-style: normal;font-family: Arial, Helvetica, sans-serif;font-variant: normal;text-decoration: none;}
.bk-form50wd {font-size: 12px;width: 50px;color: #000000;font-style: normal;font-family: Arial, Helvetica, sans-serif;font-variant: normal;text-decoration: none;}
.bk-form60wd {font-size: 12px;width: 60px;color: #000000;font-style: normal;font-family: Arial, Helvetica, sans-serif;font-variant: normal;text-decoration: none;}
.bk-dashline { text-align: center; width: 90%; border-top: 1px dashed #c0c0c0; border-bottom: 1px dashed #c0c0c0; color: #ffffff; background-color: #ffffff; height: 1px;}
.bk-bodyHEAD {font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-style: normal;text-decoration: none;font-weight: bold;}
.bk-body {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;color: #000000;}
.bk-top-table-color-txt{font-weight: bold;font-size: 18px;color: #000000;font-family: Arial, Helvetica, sans-serif;}
.bk-hotel-head {font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bolder;font-style: normal;color: 000000;}
.labels-result {font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-style: normal;text-decoration: none;font-weight: normal;}
.labels {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;text-decoration: none;font-weight: bold;}
.bk-form20wd {font-size: 12px;width: 20px;color: #000000;font-style: normal;font-family: Arial, Helvetica, sans-serif;font-variant: normal;text-decoration: none;}
.err1 {font-weight: bold;font-size: x-small;color: #ff0000;font-family: Arial, Helvetica, sans-serif;}
.err2 {font-weight: normal;font-size: xx-small;color: #ff0000;font-family: Arial, Helvetica, sans-serif;}
.arlink { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold;}
.availLink { font-family: Arial, Helvetica, sans-serif; font-size: larger; font-weight: bold; color: Blue; text-decoration: underline}
.uatext { font-family: Arial, Helvetica, sans-serif; font-size: larger; color: Blue; font-variant:normal ;text-decoration: none;}
.bk-but {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:Black; font-variant:normal; text-decoration: none; }
.bk-newSearch {font-family: Arial, Helvetica, sans-serif; font-size: 14px;  text-decoration: none; font-weight: bold;}