div#contenido{
	margin: 0 auto;
	width:80%;
	margin-top: 100px;
}
div#menu{
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    height: 30px;
    width: 100%;
    top: 0px; left: 0px;
	position: fixed;
}
div#menu2{
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #CCCCCC;
    color: #666666;
    height: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 30px;
    width: 100%;
    position: fixed;
}
.content {
    margin: 0 auto;
    width: 80%;
}
div#menu a.menu{
	background: none repeat scroll 0 0 #5C5C5C;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #E5E5E5;
    cursor: pointer;
    font-family: Verdana,Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    width: auto;
    float:right;
    margin-right: 5px;
}
div#menu2 .txt{
	color: #333;
	display:inline;
	margin:0px;
	float:left; 
	padding:0px;
}
div#menu2 .txt h5{
	margin-top: 17px; 
	margin-bottom: 0px;
}
div#menu2 .logo{
	margin-top: 3px;
	margin-right:25px;
	float:left; 
}
div.titulo{
	background-color: #49494B;
    color: #FFFFFF;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 15px;

}
div.titulo p{
	margin:2px 0px 0px 0px;
	font-size:13px;
}
table.lista, td {
	vertical-align:middle;
}

table.lista{
	border-spacing:0px;
	margin-bottom:28px;
	width:100%;
	text-align: left;
	border-bottom: 2px solid #49494B;
	border-top: 2px solid #49494B;
}

table.lista tr.enc{
	color: #ffffff;
	padding:2px;
	text-transform:uppercase;
	background-color: #49494b;
}

table.lista tr{
	color: #000;
	padding:2px;
	text-transform:uppercase;
	background-color: #e2e2e2;
	border-bottom: 1 px solid #49494B;
}
table.lista td{
	padding:2px;
	border-bottom: 1px solid #49494B;
}
table.lista tr td p{
	display:inline;
	float:left;
	padding: 2px; 
	margin-top: 5px;
}


table.lista .faltante{
	background-color: #e62332;
	color: #000;
}

table.lista .opcional{
	background-color: #ffac04;
	color: #000;
}


#FormPed input{
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 282px;
	box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
}

#FormPed label{
	display: block;
	font-size: 14px;
	line-height: 2.5em;
	font-weight: light;
}
.error-box{
    background-color: #FFBABA;
    background-image: url("../img/error.png");
    color: #D8000C;
    margin-bottom: 20px;    
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
} 
.msje{
	 margin-bottom: 20px;    
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 10px 50px;
}
.msje p{
	margin: 0px;
	text-align:left;
}
.error{
    background: url("../img/error.png") 9px 3px no-repeat #FFBABA;
    color: #D8000C;
} 
.ok{
    background: url("../img/ok.png") 9px 3px no-repeat #DFF2BF;
    color: #4F8A10;
}
.info{
	color: #00529B;
	background: url('../img/info.png') 9px 3px no-repeat #BDE5F8;
}
.red{
	 background-color: #DF0101;
}

a.fal{
	text-decoration: none;
	float:left;
	color:#49494B;
	font-weight:bold;
	font-size:19px;
}
a.fal:hover{
    text-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
}
a.opc{
	background: url("../img/opcional.png") no-repeat;
	text-decoration: none;
	float:left;
	width: 17px; 
	height: 17px; 
}

.categorias_titulo h4{
	width:960px;
	float:left;
	padding:5px;
	border-bottom:1px solid #eee;
	margin-top: 20px;
	
}


.categorias {
	margin-left: 20px;
}


.button2, .button2 span {
   display: inline-block;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
}

.button2 {
    width: 110px;
    margin: 0 20px 20px 0;
    -moz-box-shadow: 1px 1px 1px #626262;
    -webkit-box-shadow: 1px 1px 1px #626262;
    box-shadow: 1px 1px 1px #626262;
}

.button2 span {
	font:bold 10px Arial,Helvetica,sans-serif;
	color:#626262;
	text-transform: uppercase;
	text-align:center;
	text-overflow:string;
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding:0.6em 1.3em;
	width: 85px;
} 

a.button2 span:hover{
   font:bold 10px Arial,Helvetica,sans-serif;
   color:#fff;
   background-color:#d00202;
   border-top: rgba(255, 255, 255, .2) 1px solid;
   padding:0.6em 1.3em;
   text-align:center;
   text-overflow:string;

}
a.btn, input.btn{
    background: none repeat scroll 0 0 #696969;
    border-radius: 10px 10px 10px 10px;
    color: #F1F1F1;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 10px;
    text-decoration: none;
    cursor:pointer;
}

a.btn:hover, input.btn:hover{
	 background: none repeat scroll 0 0 #000000;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.75);
}
.left{
	float:left;
}
.right{
	float:right;
}

