 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #707070; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
BODY {
	COLOR: #353535; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 0.6em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
P {
	MARGIN: 5px 0px
}
PRE {
	FONT-SIZE: 11px
}
TD {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
UL {
	VERTICAL-ALIGN: top
}
.boton {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/images/html/bg_boton.gif) #8a8a8a repeat-x; BORDER-LEFT: 0px; COLOR: white; BORDER-BOTTOM: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 1.7em
}
.boton-destacado {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/images/html/bg_boton_compra.gif) #9b0704 repeat-x; BORDER-LEFT: medium none; COLOR: white; BORDER-BOTTOM: medium none
}
.boton-secundario {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/images/html/bg_boton_azul.gif) #1e558d repeat-x; PADDING-BOTTOM: 0px; BORDER-LEFT: medium none; COLOR: white; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.combo-box {
	FONT-SIZE: 1em; min-width: 50px
}
SELECT {
	FONT-SIZE: 1em; min-width: 50px
}
SELECT OPTION {
	PADDING-RIGHT: 0.5em
}
.input {
	FONT-SIZE: 1em; min-width: 50px
}
.publicidad {
	MARGIN: 0px 10px 10px 14px
}
.table {
	BORDER-RIGHT: #dce0ee 1px solid; BORDER-TOP: #dce0ee 1px solid; FONT-SIZE: 0.9em; MARGIN: 0px 0px 15px; BORDER-LEFT: #dce0ee 1px solid; BORDER-BOTTOM: #dce0ee 1px solid; LIST-STYLE-TYPE: none
}
.table STRONG {
	FONT-WEIGHT: bold; COLOR: black
}
.table TH {
	PADDING-RIGHT: 8px; BORDER-TOP: #dce0ee 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003e7e; PADDING-TOP: 0px; BORDER-BOTTOM: #dce0ee 1px solid; FONT-STYLE: normal; HEIGHT: 20px; BACKGROUND-COLOR: #f3f4f9; TEXT-ALIGN: left
}
.table TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; COLOR: #363636; PADDING-TOP: 8px
}
.table INPUT {
	VERTICAL-ALIGN: bottom
}
.grid {
	BORDER-RIGHT: #dce0ee 1px solid; BORDER-TOP: #dce0ee 1px solid; MARGIN: 10px 0px 0px; BORDER-LEFT: #dce0ee 1px solid; BORDER-BOTTOM: #dce0ee 1px solid
}
.grid STRONG {
	FONT-WEIGHT: bold; COLOR: #003e7e
}
.grid TH {
	BORDER-RIGHT: #dce0ee 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 0.8em; VERTICAL-ALIGN: middle; COLOR: #003e7e; BORDER-BOTTOM: #dce0ee 2px solid; FONT-STYLE: normal; HEIGHT: 20px
}
.grid TD {
	BORDER-RIGHT: #dce0ee 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; COLOR: #363636; PADDING-TOP: 8px; BORDER-BOTTOM: #dce0ee 1px solid; HEIGHT: 50px
}
.first {
	TEXT-ALIGN: left
}
.left {
	TEXT-ALIGN: left
}
.middle {
	TEXT-ALIGN: center
}
.center {
	TEXT-ALIGN: center
}
.last {
	TEXT-ALIGN: right
}
.right {
	TEXT-ALIGN: right
}
.par {
	BACKGROUND-COLOR: #f0f0f0
}
.no-table {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.no-table TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.list {
	BORDER-RIGHT: #dce0ee 1px solid; BORDER-TOP: #dce0ee 1px solid; FONT-SIZE: 0.9em; MARGIN: 0px 0px 15px; BORDER-LEFT: #dce0ee 1px solid; BORDER-BOTTOM: #dce0ee 1px solid; LIST-STYLE-TYPE: none
}
.list LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 8px
}
.lista {
	FONT-SIZE: 0.9em; LIST-STYLE-TYPE: circle
}
.lista LI {
	MARGIN: 8px 4px 4px 36px; LIST-STYLE-TYPE: circle
}
#tabla-principal {
	CLEAR: both; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
#externo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#panel-general {
	MARGIN-LEFT: auto; WIDTH: 760px; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
#barra-superior {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 2px; VERTICAL-ALIGN: top; LINE-HEIGHT: 1em; BACKGROUND-COLOR: white
}
#barra-superior {
	TEXT-ALIGN: right
}
#barra-superior UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.1em; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#barra-superior LI {
	BORDER-RIGHT: #dadada 1px solid; DISPLAY: inline; FONT-SIZE: 0.6em
}
#barra-superior LI.last {
	BORDER-RIGHT: 0px; MARGIN-RIGHT: 0.5em
}
#barra-superior FORM {
	DISPLAY: inline
}
#barra-superior SELECT {
	DISPLAY: inline
}
#barra-superior SELECT {
	FONT-SIZE: 0.55em; MARGIN: 0px 0.5em 0px 0px; FONT-FAMILY: verdana, arial, sans-serif
}
#barra-superior INPUT {
	FONT-SIZE: 0.55em; MARGIN: 0px 0.5em 0px 0px; FONT-FAMILY: verdana, arial, sans-serif
}
#barra-superior IMG {
	MARGIN: 0.1em 0.7em -0.2em 0.2em
}
#logo {
	MARGIN-TOP: 2px; BACKGROUND: url(/images/html/paisaje.jpg) no-repeat right top; BORDER-BOTTOM: #efefef 1px solid
}
#logo IMG {
	MARGIN: 6px 0px 7px 20px
}
#logo_empresas {
	BACKGROUND: url(/images/html/cabecera_home_cl.jpg) no-repeat right top
}
#logo_chilecompra {
	BACKGROUND: url(/images/html/cabecera_home_chilecompra.jpg) no-repeat right top; HEIGHT: 65px
}
#logo_empresas IMG {
	MARGIN: 0px 0px 0px 20px
}
#logo_chilecompra IMG {
	MARGIN: 0px 0px 0px 20px
}
#logo_asociados {
	BACKGROUND: url(/images/asociados/cabecera.jpg) no-repeat right top; HEIGHT: 48px
}
#barra-usuario {
	CLEAR: left; FONT-SIZE: 0.6em; BACKGROUND: url(/images/html/bg_acceso.gif) repeat-x left top; WHITE-SPACE: nowrap
}
#barra-usuario IMG {
	MARGIN: 0.4em 0.5em 0px 0px
}
#barra-usuario UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.4em; PADDING-TOP: 0px
}
#barra-usuario LI {
	BORDER-RIGHT: #dadada 1px solid; PADDING-RIGHT: 0.8em; DISPLAY: inline; PADDING-LEFT: 0.8em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#barra-usuario LI.last {
	BORDER-RIGHT: 0px
}
#barra-usuario SPAN {
	PADDING-RIGHT: 0.8em; PADDING-LEFT: 0.8em; FLOAT: right; PADDING-BOTTOM: 1.4em; PADDING-TOP: 0.4em
}
#barra-usuario B {
	TEXT-TRANSFORM: capitalize
}
#panel-izq {
	VERTICAL-ALIGN: top; WIDTH: 148px
}
#fila-tabla-principal {
	VERTICAL-ALIGN: top; WIDTH: 100%
}
#pie {
	FONT-SIZE: 0.7em; BACKGROUND: url(/images/html/bg_pie.gif) repeat-x left top; WIDTH: 760px; COLOR: #363636; BORDER-COLLAPSE: collapse; HEIGHT: 4em
}
#pie TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
#pie UL {
	LIST-STYLE-TYPE: none
}
#pie UL LI {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #888888 1px solid; PADDING-TOP: 0px
}
#pie UL LI.first {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#pie #links UL {
	FLOAT: right
}
#pie #barra-inferior {
	MARGIN-TOP: 4px; FONT-SIZE: 0.8em
}
#barra-inferior {
	HEIGHT: 2em
}
#one-world {
	MARGIN-TOP: 30px
}
#panel-cen {
	VERTICAL-ALIGN: top; WIDTH: 100%
}
#panel-der {
	VERTICAL-ALIGN: top; WIDTH: 182px
}
#panel-der IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#panel-der A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#banner {
	MARGIN-BOTTOM: 1em
}
#barra-paso {
	PADDING-RIGHT: 10px; MARGIN-TOP: 11px; PADDING-LEFT: 10px; MARGIN-LEFT: 0px; HEIGHT: 50px
}
#barra-paso TABLE {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
#barra-paso A {
	COLOR: #b70e00
}
#barra-paso .first {
	BACKGROUND: url(/images/html/avion_anterior.gif) repeat-x left bottom; COLOR: #b70e00; HEIGHT: 25px
}
#barra-paso .actual {
	BACKGROUND: url(/images/html/avion.gif) no-repeat left bottom; COLOR: #ff1000; HEIGHT: 25px
}
#barra-paso .sinLink {
	BACKGROUND: url(/images/html/avion_posterior.gif) repeat-x left bottom; COLOR: #858585; HEIGHT: 25px
}
#titulo-compra {
	MARGIN-TOP: 32px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom; WIDTH: 760px; COLOR: #858585; BORDER-BOTTOM: #dce0ee 1px solid
}
#titulo-compra .last {
	PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
#titulo-compra H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; MARGIN: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial
}
#titulo-compra A {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
#barra-continuar {
	CLEAR: both; MARGIN-TOP: 20px; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; FLOAT: right; MARGIN-BOTTOM: 20px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-STYLE: normal; HEIGHT: 21px
}
#barra-continuar TR {
	TEXT-ALIGN: right
}
#barra-continuar TD {
	PADDING-RIGHT: 30px; PADDING-LEFT: 8px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 10px
}
#barra-continuar .first {
	PADDING-RIGHT: 15px; BACKGROUND: url(/images/html/avance_body.gif) repeat-x right top; MARGIN-RIGHT: 0px
}
#barra-continuar .last {
	PADDING-LEFT: 0px; BACKGROUND: url(/images/html/avance_head.gif) no-repeat left top; MARGIN-LEFT: 0px
}
#contenido-proceso {
	FONT-SIZE: 11px; MARGIN-LEFT: 12px
}
#contenido-proceso A {
	COLOR: #cc0000
}
#contenido-proceso H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 2em; MARGIN: 20px 0px 5px; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#contenido-proceso H2 {
	FONT-SIZE: 1.5em; MARGIN: 20px 0px 5px; COLOR: #003e7e; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#contenido-proceso H3 {
	FONT-SIZE: 1.2em; MARGIN: 20px 0px 5px; COLOR: #dadada; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#contenido-proceso H4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #363636; PADDING-TOP: 6px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #dce0ee
}
.titulo {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #363636; PADDING-TOP: 6px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #dce0ee
}
#contenido-proceso H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5a5a5a; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 15px; BACKGROUND-COLOR: #f3f4f9
}
.sub-titulo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5a5a5a; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 15px; BACKGROUND-COLOR: #f3f4f9
}
#contenido-proceso H6 {
	FONT-SIZE: 1.5em; MARGIN: 5px 0px 20px; COLOR: red
}
.error {
	FONT-SIZE: 1.5em; MARGIN: 5px 0px 20px; COLOR: red
}
TD.contenido_proceso_con_menu {
	PADDING-LEFT: 14px; PADDING-BOTTOM: 80px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 335px
}
.debug {
	CLEAR: both; BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: x-small; PADDING-BOTTOM: 5px; BORDER-LEFT: #dddddd 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: Arial, Helvetica, monospace
}
