#caja-compra {
	FONT-SIZE: 1em; BACKGROUND: url(/images/html/bg_cajacompra.gif) #b5bcd5 no-repeat left top; WIDTH: 400px; COLOR: #000040; FONT-FAMILY: Verdana, sans-serif
}
#fondo-inferior-caja-compra {
	BACKGROUND: url(/images/html/bg_cajacompra_bottom.gif) no-repeat left bottom; PADDING-BOTTOM: 7px; WIDTH: 400px
}
#pestanas {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
#pestanas UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 12px; PADDING-TOP: 9px; LIST-STYLE-TYPE: none
}
#pestanas LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/html/pestana_desact_left.gif) #eef0f7 no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0.8em 0px 0px; PADDING-TOP: 0px
}
#pestanas A {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND: url(/images/html/pestana_desact_right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: auto; COLOR: #000040; PADDING-TOP: 0.3em; TEXT-DECORATION: none
}
#pestanas A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
#pestanas LI#active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/html/pestana_act_left_x2.gif) #000040 no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 0.8em 0px 0px; PADDING-TOP: 0px
}
#pestanas LI#active SPAN {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND: url(/images/html/pestana_act_right_x2.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0.3em; COLOR: #fff; PADDING-TOP: 0.3em
}
#formulario-compra {
	CLEAR: both; BORDER-RIGHT: #000040 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000040 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0.2em; MARGIN: 0px 12px 5px; BORDER-LEFT: #000040 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000040 1px solid
}
#formulario-compra TABLE {
	WIDTH: 100%
}
#formulario-compra TABLE TD {
	FONT-SIZE: 0.8em; VERTICAL-ALIGN: top; WIDTH: 50%
}
#formulario-compra TABLE#pasajeros {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#formulario-compra TABLE#pasajeros TD {
	WIDTH: auto
}
#formulario-compra TABLE#pasajeros SELECT {
	MARGIN-RIGHT: 10px
}
#formulario-compra A {
	COLOR: #000040
}
#formulario-compra LABEL {
	MARGIN-TOP: 2px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-RIGHT: 3px
}
#formulario-compra SELECT {
	MARGIN-BOTTOM: 5px; VERTICAL-ALIGN: middle
}
#formulario-compra IMG {
	MARGIN: 0px; VERTICAL-ALIGN: top
}
#formulario-compra DIV#multiples-destinos {
	FONT-SIZE: 0.9em
}
#formulario-compra DIV#multiples-destinos A:hover {
	COLOR: #cc0000
}
#formulario-compra H5 {
	MARGIN-TOP: 0.4em; DISPLAY: block; FONT-SIZE: 0.8em; MARGIN-LEFT: 2px
}
#formulario-compra TABLE#pasajeros LABEL {
	MARGIN-TOP: 3px
}
#formulario-compra #boton-continuar {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
#formulario-compra #boton-continuar INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: url(/images/html/bg_boton_compra.gif); BORDER-LEFT: 0px; COLOR: white; MARGIN-RIGHT: 20px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 1.7em; BACKGROUND-COLOR: #9b0704
}
#formulario-compra SELECT {
	COLOR: #353535; FONT-FAMILY: Verdana, Arial, sans-serif
}
#formulario-compra OPTION {
	PADDING-RIGHT: 0.5em
}
