#contenido A {
	COLOR: #013f7c
}
#contenido A:link {
	COLOR: #013f7c
}
#contenido A:hover {
	COLOR: #cc0000
}
#contenido {
	PADDING-LEFT: 14px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 80px; WIDTH: 100%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 335px
}
DIV#contenido {
	PADDING-LEFT: 0px
}
#contenido TD {
	
}
#contenido H1 {
	CLEAR: both; FONT-WEIGHT: normal; FONT-SIZE: 2em; MARGIN: 5px 0px 20px; COLOR: #828282; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#contenido H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; MARGIN: 0.5em 0px; COLOR: #213c79; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#contenido H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #213c79
}
#contenido H4 {
	MARGIN-TOP: 0.5em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em
}
H5 {
	MARGIN-TOP: 0.5em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em
}
#contenido H4 A {
	COLOR: #013f7c
}
#contenido H6 {
	CLEAR: both; MARGIN-TOP: 0.5em; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em; COLOR: #013f7c; BORDER-BOTTOM: #bbbbbb 1px solid
}
#contenido IMG {
	MARGIN: 5px
}
#contenido UL {
	CLEAR: left; MARGIN-LEFT: 0.5em; LIST-STYLE-TYPE: none
}
#contenido LI {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 1.1em; BACKGROUND-IMAGE: url(/images/html/bullet.gif); BACKGROUND-REPEAT: no-repeat
}
#contenido P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 10px 1em 0px; PADDING-TOP: 0px
}
#contenido PRE {
	FONT-SIZE: 1.1em
}
#contenido OPTION {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.2em
}
#contenido SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#contenido .separador_horizontal {
	BORDER-TOP: #dce0ee 1px solid; MARGIN: 10px 0px; WIDTH: 100%; HEIGHT: 1px
}
#contenido .tabla1 {
	FONT-SIZE: 0.85em; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
#contenido .tabla1 THEAD {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #213c79
}
#contenido .tabla1 THEAD TD {
	TEXT-ALIGN: center
}
#contenido .tabla1 TBODY {
	BACKGROUND-COLOR: #eeeeee
}
#contenido .tabla1 TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#contenido .tabla1 TD IMG {
	MARGIN: 0px
}
#contenido .portadilla TABLE {
	WIDTH: 100%
}
#contenido .portadilla TABLE TD {
	PADDING-RIGHT: 10px
}
#contenido .portadilla IMG {
	FLOAT: left; MARGIN: 0px 10px 10px 0px
}
#contenido .portadilla H3 {
	BORDER-TOP: #dfe3ef 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #dfe3ef 1px solid
}
#contenido .encabezado_promocion {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/html/bottom_banner_promocion.gif); MARGIN-BOTTOM: 0.8em; PADDING-BOTTOM: 6px; WIDTH: 598px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #e9e9f3; TEXT-ALIGN: center
}
#contenido .encabezado_promocion P {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 2em; BACKGROUND-IMAGE: url(/images/html/fondo_banner_promocion.gif); PADDING-BOTTOM: 5px; MARGIN: 0px 0px 6px; WIDTH: 578px; COLOR: #828282; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c6cce4; TEXT-ALIGN: left
}
#contenido .bajada_promocion P {
	MARGIN: 0px 0px 1em; LINE-HEIGHT: 1.3em
}
#contenido H4 {
	COLOR: #003e7e
}
#contenido .menu_horizontal {
	CLEAR: both; MARGIN-TOP: 22px; MARGIN-BOTTOM: 17px; HEIGHT: 2.5em
}
#contenido .menu_horizontal UL {
	DISPLAY: block; LIST-STYLE-TYPE: none; HEIGHT: 20px; TEXT-ALIGN: center
}
#contenido .menu_horizontal LI {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; PADDING-LEFT: 0.5em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#contenido .menu_horizontal LI.first {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px
}
#contenido .menu_horizontal A {
	COLOR: #b40801
}
#contenido .menu_destacado {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/html/fondo_menu_destacado.gif); PADDING-BOTTOM: 0px; MARGIN: 15px auto 30px; WIDTH: 540px; COLOR: #525252; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #f7f7f7
}
#contenido .menu_destacado TABLE {
	MARGIN: 0px
}
#contenido .menu_destacado TABLE TD {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#contenido .bottom_menu_destacado {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/html/bottom_menu_destacado.gif); WIDTH: 540px; BACKGROUND-REPEAT: no-repeat
}
#contenido .top_menu_destacado {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/html/top_menu_destacado.gif); WIDTH: 540px; BACKGROUND-REPEAT: no-repeat
}
#contenido .texto_promociones_especiales {
	PADDING-LEFT: 125px
}
#contenido .texto_promociones_especiales IMG {
	CLEAR: left; FLOAT: left; MARGIN: 4px 5px 10px -125px
}
#contenido .texto_promociones_especiales P {
	
}
#contenido .texto_promociones_especiales H4 {
	
}
#contenido .texto_promociones_especiales H5 {
	
}
#contenido .texto_promociones_lanpass IMG {
	CLEAR: right; FLOAT: right; MARGIN: 3px 0px 10px 10px
}
#contenido .banners_derecha_promo {
	WIDTH: 190px; TEXT-ALIGN: right
}
#contenido .banners_derecha_promo DIV {
	MARGIN-BOTTOM: 10px
}
#contenido .caja1 {
	CLEAR: left; BORDER-TOP: #cccccc 1px solid; WIDTH: 100%; PADDING-TOP: 10px
}
#contenido .caja1 IMG {
	FLOAT: left; MARGIN: 0px 10px 10px 0px
}
#contenido .caja1 H3 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: normal; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #888888; BORDER-BOTTOM: 0px
}
#contenido .caja1 H4 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#contenido .caja1 TD {
	WIDTH: 50%
}
#contenido .caja1_con_foto {
	CLEAR: left; BORDER-TOP: #cccccc 1px solid; WIDTH: 100%; PADDING-TOP: 10px
}
#contenido .caja1_con_foto IMG {
	CLEAR: left; FLOAT: left; MARGIN: 0px 10px 10px 0px
}
#contenido .caja1_con_foto H3 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: normal; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #888888; BORDER-BOTTOM: 0px
}
#contenido .caja1_con_foto H4 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#contenido .caja1_con_foto H3 {
	CLEAR: none; MARGIN-LEFT: 90px
}
#contenido .caja1_con_foto P {
	CLEAR: none; MARGIN-LEFT: 90px
}
#contenido .caja1_con_foto UL {
	CLEAR: none; MARGIN-LEFT: 90px
}
#contenido .caja1_con_foto UL {
	MARGIN-BOTTOM: 10px
}
#contenido .caja1_con_foto TD {
	WIDTH: 50%
}
#contenido .caja1_con_foto DIV {
	CLEAR: left
}
#contenido #banner_inferior {
	CLEAR: both; MARGIN-TOP: 30px; WIDTH: 100%; TEXT-ALIGN: center
}
#contenido .portada_guia_destinos {
	MARGIN-RIGHT: 40px
}
#contenido .portada_guia_destinos P {
	MARGIN-LEFT: 160px
}
#contenido .portada_guia_destinos IMG {
	CLEAR: left; MARGIN-TOP: 0px; FLOAT: left; MARGIN-LEFT: 0px
}
#contenido .portada_guia_destinos H6 {
	PADDING-TOP: 10px
}
#contenido .portada_guia_destinos .combos_guia_destinos {
	PADDING-RIGHT: 4px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 7px; MARGIN-LEFT: 160px; WIDTH: 340px; PADDING-TOP: 7px; BORDER-BOTTOM: #bbbbbb 1px solid
}
#contenido .bajada_guia_destinos {
	MARGIN-TOP: 20px
}
#contenido .bajada_guia_destinos P {
	MARGIN-BOTTOM: 20px; MARGIN-RIGHT: 310px
}
#contenido .bajada_guia_destinos IMG {
	CLEAR: right; FLOAT: right; MARGIN: 0px 0px 20px
}
#contenido .texto_guia_destinos {
	CLEAR: both
}
#contenido .texto_guia_destinos P {
	MARGIN-RIGHT: 140px
}
#contenido .texto_guia_destinos .imagen_guia_destinos {
	CLEAR: right; FLOAT: right; MARGIN: 0px; WIDTH: 130px
}
#contenido .texto_guia_destinos .imagen_guia_destinos IMG {
	MARGIN: 0px
}
#contenido .texto_guia_destinos .imagen_guia_destinos P {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/html/bullet_azul.gif); MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 1.1em; BACKGROUND-REPEAT: no-repeat
}
#contenido .anclas_guia_destinos {
	CLEAR: both; MARGIN-BOTTOM: 20px; PADDING-TOP: 0px
}
#contenido .anclas_guia_destinos IMG {
	MARGIN: 0px 0px 5px
}
#contenido .anclas_guia_destinos UL {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/html/fondo_anclas_guia_destinos.gif); LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccccdd 1px solid; BACKGROUND-REPEAT: repeat-x; LIST-STYLE-TYPE: none; HEIGHT: 60px
}
#contenido .anclas_guia_destinos LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; FLOAT: left; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 6px; COLOR: #505050; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#contenido .anclas_guia_destinos LI A {
	TEXT-DECORATION: none
}
#contenido .pestanas_guia_destinos {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; HEIGHT: 10px
}
#contenido .pestanas_guia_destinos UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#contenido .pestanas_guia_destinos LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/html/guia_destinos_pestana_desact_left.gif) #eeeeee no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 0px
}
#contenido .pestanas_guia_destinos A {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND: url(/images/html/guia_destinos_pestana_desact_right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: auto; COLOR: #013f7c; PADDING-TOP: 0.3em; TEXT-DECORATION: none
}
#contenido .pestanas_guia_destinos A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
#contenido .pestanas_guia_destinos LI.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/html/guia_destinos_pestana_act_left.gif) #ccccdd no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 0px
}
#contenido .pestanas_guia_destinos LI.active SPAN {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND: url(/images/html/guia_destinos_pestana_act_right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0.3em; COLOR: #013f7c; PADDING-TOP: 0.3em
}
#contenido .opciones_guia_destinos {
	CLEAR: both; PADDING-RIGHT: 1px; BORDER-TOP: #ccccdd 4px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 1px; PADDING-TOP: 3px; BACKGROUND-COLOR: #eeeeee
}
#contenido .opciones_guia_destinos P {
	VERTICAL-ALIGN: middle
}
#contenido .opciones_guia_destinos SELECT {
	MARGIN-TOP: -4px; FLOAT: right
}
#contenido .link_subir {
	CLEAR: right; TEXT-ALIGN: right
}
#contenido .tabla2 {
	BORDER-TOP: #dce0ee 3px solid; MARGIN-BOTTOM: 1em; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
#contenido .tabla2 TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #dce0ee 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #dce0ee 1px solid
}
#contenido .tabla2 TD.first {
	BORDER-LEFT: medium none
}
#contenido .tabla2 TD.number {
	TEXT-ALIGN: right
}
#contenido .tabla2 CAPTION {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #003e7e; TEXT-ALIGN: left
}
#contenido .tabla2 THEAD {
	BACKGROUND-COLOR: #dce0ee
}
#contenido .tabla2 THEAD TD {
	FONT-WEIGHT: bold; BORDER-LEFT: #ffffff 1px solid; TEXT-ALIGN: center
}
#contenido .tabla2 THEAD TD.first {
	BORDER-LEFT: medium none
}
#contenido .tabla2 THEAD TH {
	FONT-WEIGHT: normal; BORDER-LEFT: #dce0ee 1px solid; BORDER-BOTTOM: #dce0ee 3px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
#contenido .tabla2 THEAD TH.first {
	BORDER-LEFT: medium none
}
#contenido .link_destacado {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/html/fondo_info_destacada.gif); MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 173px; COLOR: #525252; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #f7f7f7
}
#contenido .link_destacado P {
	PADDING-RIGHT: 13px; BACKGROUND-POSITION: left top; PADDING-LEFT: 13px; BACKGROUND-IMAGE: url(/images/html/top_info_destacada.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
#contenido .bottom_link_destacado {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/html/bottom_info_destacada.gif); WIDTH: 173px; BACKGROUND-REPEAT: no-repeat
}
#contenido .link_destacado A {
	COLOR: #b40801
}
#contenido P.nota {
	FONT-SIZE: 0.9em
}
#contenido H5.epigrafe {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: url(/images/html/bullet_rojo.gif); TEXT-TRANSFORM: uppercase; COLOR: #666666; BACKGROUND-REPEAT: no-repeat
}
#contenido .info_destacada {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; FLOAT: right; BACKGROUND-IMAGE: url(/images/html/fondo_info_destacada.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 10px; WIDTH: 173px; COLOR: #525252; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #f7f7f7
}
#contenido .info_destacada P {
	PADDING-RIGHT: 13px; BACKGROUND-POSITION: left top; PADDING-LEFT: 13px; BACKGROUND-IMAGE: url(/images/html/top_info_destacada.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
#contenido .bottom_info_destacada {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/html/bottom_info_destacada.gif); WIDTH: 173px; BACKGROUND-REPEAT: no-repeat
}
#contenido .info_destacada A {
	COLOR: #b40801
}
#contenido .info_destacada_full {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/images/html/fondo_info_destacada_img.gif); PADDING-BOTTOM: 0px; MARGIN: 10px 0px; WIDTH: 598px; COLOR: #525252; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #f7f7f7
}
#contenido .info_destacada_full DIV {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/html/bottom_info_destacada_img.gif); WIDTH: 598px; BACKGROUND-REPEAT: no-repeat
}
#contenido .info_destacada_full DIV DIV {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/html/top_info_destacada_img.gif); PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 578px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
#contenido .info_destacada_full A {
	COLOR: #b40801
}
#contenido .info_destacada_full IMG {
	FLOAT: none; MARGIN: 0px
}
#contenido .info_destacada_full P {
	MARGIN: 0px 0px 10px
}
#contenido .opciones_info_destacadas {
	CLEAR: both; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center
}
#contenido .opciones_info_destacadas TABLE {
	MARGIN: 0px auto
}
#contenido .opciones_info_destacadas TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#contenido .opciones_info_destacadas .info_destacada {
	FLOAT: none; MARGIN: 0px
}
#destacados {
	MARGIN: 10px 0px 20px; FONT-FAMILY: Verdana, sans-serif
}
#noticias {
	MARGIN: 10px 0px 20px; FONT-FAMILY: Verdana, sans-serif
}
#destacados H4 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 0.9em; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px 0px 0.3em; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#destacados IMG {
	FLOAT: left; MARGIN: 0px 4px 0px 0px
}
#destacados P {
	FONT-SIZE: 0.9em; MARGIN: 0.1em
}
#noticias LI {
	FONT-SIZE: 0.9em; MARGIN: 0.1em
}
#destacados SPAN {
	WIDTH: 188px
}
#destacados TD {
	PADDING-RIGHT: 5px; WIDTH: 50%
}
#noticias {
	COLOR: #353535
}
#noticias UL {
	MARGIN: 0px
}
#noticias LI {
	PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; MARGIN-BOTTOM: 0.7em; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
#contenido TABLE {
	BORDER-COLLAPSE: collapse
}
TD {
	BORDER-COLLAPSE: collapse
}
#contenido .publicidad IMG {
	MARGIN: 0px
}
#contenido #panel-cen {
	FONT-SIZE: 1.1em
}
#contenido #panel-der {
	FONT-SIZE: 1.1em
}
#contenido .formulario {
	MARGIN: 15px 0px
}
#contenido .formulario H5 {
	FONT-WEIGHT: normal; COLOR: #353535
}
#contenido .formulario FORM {
	BORDER-TOP: #dce0ee 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #dce0ee 1px solid
}
#contenido .formulario TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
#contenido .formulario TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
#contenido .formulario TH {
	COLOR: #003e7e
}
#contenido .formulario .submit {
	TEXT-ALIGN: right
}
#contenido .texto_general {
	MARGIN-RIGHT: 90px
}
#contenido .imagen_texto_general {
	CLEAR: right; FLOAT: right; MARGIN: 3px 0px 5px 5px
}
#contenido .imagen_texto_general IMG {
	MARGIN: 0px
}
#contenido .imagen_texto_general P {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/html/bullet_azul.gif); MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 1.1em; BACKGROUND-REPEAT: no-repeat
}
#contenido .item_subportada2 {
	CLEAR: both; MARGIN-BOTTOM: 15px; HEIGHT: 7em
}
#contenido .item_subportada2 IMG {
	FLOAT: left; MARGIN: 0px 5px 0px 0px
}
#contenido .item_subportada2 H4 {
	MARGIN: 0px
}
#contenido .terminos_y_condiciones {
	CLEAR: left
}
#contenido_popup {
	MARGIN: 6px
}
#contenido_popup .submit {
	TEXT-ALIGN: center
}
#contenido_popup .submit INPUT {
	MARGIN: 6px
}
#contenido .ripley_precio_destacado {
	MARGIN-BOTTOM: 10px; BORDER-COLLAPSE: separate
}
#contenido .ripley_precio_destacado TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #ff9900; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; BORDER-LEFT: #000000 1px solid; WIDTH: 96px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center
}
#contenido TD.ripley_precio_destacado2 {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #ff9900 1px solid; COLOR: #000000; BORDER-BOTTOM: #ff9900 1px solid
}
#contenido TD.ripley_precio_destacado3 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; BORDER-BOTTOM: #cccccc 1px solid
}
#contenido .texto_fotos_copyright {
	COLOR: #cccccc
}
#contenido .info_destacada_ripley {
	BORDER-RIGHT: #204981 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #204981 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; MARGIN: 5px; BORDER-LEFT: #204981 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #204981 1px solid; BACKGROUND-COLOR: #e0e0e0
}
#contenido .detalle_oferta_ripley {
	MARGIN-RIGHT: 170px
}
.center {
	VERTICAL-ALIGN: middle
}
