#herramientas {
	MARGIN-BOTTOM: 10px; WIDTH: 148px
}
#herramientas H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; PADDING-BOTTOM: 4px; COLOR: #000040; PADDING-TOP: 4px; BACKGROUND-COLOR: #b5bcd5
}
#herramientas H4.top {
	FONT-WEIGHT: bold; BACKGROUND: url(/images/html/pest_tools_x2.gif) #b5bcd5 no-repeat; PADDING-BOTTOM: 3px; PADDING-TOP: 8px
}
#herramientas UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #eeeeee
}
#herramientas UL.last {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/html/pie_tools_x2.gif); PADDING-BOTTOM: 15px; BACKGROUND-REPEAT: no-repeat
}
#herramientas LI {
	FONT-SIZE: 0.7em; TEXT-ALIGN: left
}
#herramientas A {
	PADDING-RIGHT: 3px; BORDER-TOP: #f6f6f6 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px 5px; WIDTH: 132px; COLOR: #363636; PADDING-TOP: 4px; BORDER-BOTTOM: #e6e6e6 1px solid; TEXT-DECORATION: none
}
#herramientas LI.last A {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
#herramientas LI.first A {
	BORDER-TOP: medium none
}
#herramientas LI IMG {
	VERTICAL-ALIGN: middle; TEXT-DECORATION: none
}
#herramientas A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
#ofertas {
	MARGIN: 0px 0px 10px 14px; WIDTH: 178px; FONT-FAMILY: Verdana, sans-serif
}
#ofertas H4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #dadada 1px solid; PADDING-LEFT: 0.4em; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0.5em; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #000040; LINE-HEIGHT: 1.3em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #dadada 1px solid; BACKGROUND-COLOR: #f0f0f0
}
#ofertas H4 IMG {
	FLOAT: right; MARGIN: 0px 0.5em 0px 0px
}
#ofertas UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f0f0f0
}
#ofertas LI {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 0.85em; BACKGROUND: url(/images/html/bg_ofertas.gif) #fff repeat-x left top; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.9em; PADDING-TOP: 0px; BORDER-BOTTOM: #dadada 1px solid; LIST-STYLE-TYPE: none
}
#ofertas LI P {
	FONT-SIZE: 0.85em; MARGIN: 0px 1em; TEXT-ALIGN: right
}
#ofertas LI P STRONG {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #cc0000
}
#ofertas LI A {
	MARGIN: 0px 0.2em
}
#ofertas P.mas {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0.4em; MARGIN: 0px; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: right
}
