.txt-paso-activo {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #cc0000; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.txt-paso-inactivo {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.viga-estructural {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.menu-principal {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 9px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #213c79; TEXT-DECORATION: none
}
.menu-lateral {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; WIDTH: 152px; COLOR: #002d5b; PADDING-TOP: 4px; BORDER-BOTTOM: #9caabe 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ced5df; TEXT-DECORATION: none
}
.menu-usuario {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b0bdcc 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; COLOR: #002d5b; PADDING-TOP: 4px; BORDER-BOTTOM: #b0bdcc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.menu-auxiliar {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #cad3dd 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f8fafc; TEXT-DECORATION: none
}
.cabecera-generica {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: right 50%; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/images/html/cabecera_generica.jpg); BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 65px; BACKGROUND-COLOR: #ffffff
}
.cabecera-home {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: right 50%; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/images/html/cabecera_home_cl.jpg); BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 65px; BACKGROUND-COLOR: #ffffff
}
.item-menu-principal {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: 3px 50%; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/bullet_menu_principal.gif); COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.item-menu-lateral {
	BACKGROUND-POSITION: 8px 50%; PADDING-LEFT: 16px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/bullet_menu_lateral.gif); PADDING-BOTTOM: 2px; COLOR: #002d5b; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tit-menu-lateral {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e5e5e5
}
.columna-izq {
	BORDER-RIGHT: #b1bdcc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; BORDER-BOTTOM: #b1bdcc 1px solid; BACKGROUND-COLOR: #eef1f7; TEXT-ALIGN: center
}
.contenidos {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 28px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.pie-paginas {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9px; VERTICAL-ALIGN: text-top; COLOR: #bacce0; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 70px; BACKGROUND-COLOR: #213c79; TEXT-ALIGN: center
}
.links-pie-pagina {
	FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #333333; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.borde-caja-compra {
	BORDER-RIGHT: #cccccc 1px solid; VERTICAL-ALIGN: text-top; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f5f5f5
}
.borde-cajas {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.tit-caja-col-izq {
	BORDER-TOP: #b0bdcc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00215c; BORDER-BOTTOM: #b0bdcc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.contenido-caja-col-izq {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; COLOR: #00215c; PADDING-TOP: 3px; BORDER-BOTTOM: #b0bdcc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fbfcfd; TEXT-DECORATION: none
}
.fondo-serv-online {
	BORDER-RIGHT: #b1bdcc 1px solid; BACKGROUND-POSITION: 5px 50%; BORDER-TOP: #b1bdcc 1px solid; PADDING-LEFT: 22px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/bullet_menu_servicios.gif); PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #b1bdcc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #b1bdcc 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #d1d7dc
}
.txt-menu-auxiliar {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.input-chico {
	BORDER-RIGHT: #969696 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #737373 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(/images/html/fondo_input_text.jpg); BORDER-LEFT: #737373 1px solid; COLOR: #000000; BORDER-BOTTOM: #969696 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.titulo-principal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; COLOR: #828282; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-principal {
	
}
.txt-principal-destacado {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-secundario {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: text-top; COLOR: #333333; LINE-HEIGHT: 150%; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.titulo-secundario {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #213c79; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-secundario-destacado {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #213c79; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-secundario-destacado2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-condiciones {
	FONT-SIZE: 9px; COLOR: #333333; LINE-HEIGHT: 150%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.subtitulo {
	BACKGROUND-POSITION: 3px 50%; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/html/bullet_subtitulo.gif); VERTICAL-ALIGN: text-bottom; COLOR: #213c79; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.destacado-condiciones {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; LINE-HEIGHT: 120%; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #213c79
}
.recuadro-destacado1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; COLOR: #213c79; LINE-HEIGHT: 120%; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.recuadro-destacado2 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; COLOR: #213c79; LINE-HEIGHT: 120%; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef1f7
}
.bullet-items {
	FONT-WEIGHT: normal; COLOR: #cc0000; LINE-HEIGHT: 150%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.encabezado-tablas-datos {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #213c79
}
.contenido-tablas-datos {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.destacado-condiciones2 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; LINE-HEIGHT: 120%; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.recuadro-info {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.encabezado-formulario {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #213c79
}
.titulo-formulario {
	PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #213c79; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.contenido-formulario {
	PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #333333; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.input-normal {
	BORDER-RIGHT: #969696 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #737373 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/fondo_input_text.jpg); BORDER-LEFT: #737373 1px solid; COLOR: #000000; BORDER-BOTTOM: #969696 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.input-button-flechader-100 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/images/botones/input_button_flechader_100.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: capitalize; BORDER-LEFT: 0px; WIDTH: 110px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.input-button-flechader-210 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/images/botones/input_button_flechader_210.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: capitalize; BORDER-LEFT: 0px; WIDTH: 210px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.txt-principal-destacado2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #002d5b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.titulo-destacado-portadilla {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 4px 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/bullet_titulos.gif); PADDING-BOTTOM: 2px; VERTICAL-ALIGN: text-top; BORDER-LEFT: #cccccc 1px solid; COLOR: #213c79; LINE-HEIGHT: 120%; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.titulo-formulario-destacado {
	PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #213c79; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.encabezado-tablas-datos2 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #213c79; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eef1f7
}
.contenido-tablas-datos2 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.recuadro-destacado3 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; LINE-HEIGHT: 120%; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #213c79
}
.contenido-tablas-datos-destacado {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.contenido-tablas-datos2-destacado {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.encabezado-tabla-oferta {
	BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/fondo_linea_ptos_gris.gif); PADDING-BOTTOM: 3px; COLOR: #213c79; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fbfbfb; TEXT-DECORATION: none
}
.txt-caja-oferta {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-contenidos-cajas {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #333333; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-caja-noticia {
	BACKGROUND-POSITION: 8px 7px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/bullet_titulos.gif); PADDING-BOTTOM: 3px; COLOR: #002d5b; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.input-origen-destino {
	BORDER-RIGHT: #969696 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #737373 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/fondo_input_text.jpg); BORDER-LEFT: #737373 1px solid; WIDTH: 140px; COLOR: #000000; BORDER-BOTTOM: #969696 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tab-vuelos-activo {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: 7px 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/ico_avion.gif); COLOR: #002d5b; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f5f5f5
}
.tab-autos-activo {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: 7px 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/ico_auto.gif); BORDER-LEFT: #cccccc 1px solid; COLOR: #002d5b; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f5f5f5
}
.tab-hoteles-activo {
	BACKGROUND-POSITION: 7px 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/ico_hotel.gif); BORDER-LEFT: #cccccc 1px solid; COLOR: #002d5b; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #f5f5f5
}
.tab-vuelos-inactivo {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: 7px 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/ico_avion.gif); COLOR: #002d5b; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #dfdfdf
}
.tab-autos-inactivo {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: 7px 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/ico_auto.gif); BORDER-LEFT: #cccccc 1px solid; COLOR: #002d5b; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #dfdfdf
}
.tab-hoteles-inactivo {
	BACKGROUND-POSITION: 7px 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/images/html/ico_hotel.gif); BORDER-LEFT: #cccccc 1px solid; COLOR: #002d5b; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #dfdfdf
}
.tab-separador {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 2px; COLOR: #002d5b; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.tit-cajas {
	PADDING-RIGHT: 3px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #002d5b; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5; TEXT-DECORATION: none
}
.tit-cajas2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #002d5b; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #f3f5fc; TEXT-DECORATION: none
}
.txt-caja-compra {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-sub-tit-caja {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #213c79; LINE-HEIGHT: 200%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.input-button-flechader-50 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(/images/botones/input_button_flechader_50.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: capitalize; BORDER-LEFT: 0px; WIDTH: 60px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.input-button-flechader-80 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/images/botones/input_button_flechader_80.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: capitalize; BORDER-LEFT: 0px; WIDTH: 90px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.titulos-tabla {
	PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #213c79
}
.item-fondo-gris {
	PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; COLOR: #213c79; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.item-fondo-blanco {
	PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.txt-arialch {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-arialimput {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txt-arial9-normal-bco {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.titulos-ccompra {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.combos-ccompra {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.boton-ccompra {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2px; BACKGROUND-POSITION: 50% top; BORDER-TOP: medium none; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/images/botones/input_button.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: medium none; CLIP: rect(0px 0px 0px 0px); COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff
}
