#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu {
	WIDTH: 760px; POSITION: relative; HEIGHT: 28px
}
#menu A {
	DISPLAY: block
}
#menu LI {
	FLOAT: left; MARGIN: 0px
}
#menu LI UL {
	LEFT: -9999px; VISIBILITY: hidden; POSITION: absolute
}
#menu LI.hover UL UL {
	VISIBILITY: hidden
}
#menu LI.hover UL UL UL {
	VISIBILITY: hidden
}
#menu LI.hover UL {
	VISIBILITY: visible
}
#menu LI LI.hover UL {
	VISIBILITY: visible
}
#menu LI LI LI.hover UL {
	VISIBILITY: visible
}
#menu LI.hover UL IFRAME {
	VISIBILITY: visible
}
#menu LI LI.hover UL IFRAME {
	VISIBILITY: visible
}
#menu LI LI LI.hover UL IFRAME {
	VISIBILITY: visible
}
#menu LI UL UL {
	MARGIN: 0px
}
#menu IFRAME {
	VISIBILITY: visible; POSITION: absolute
}
#menu-principal {
	BORDER-TOP: #efefef 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 0.7em
}
#menu-principal UL {
	BORDER-BOTTOM: #b8b8b8 1px solid
}
#menu-principal LI {
	BACKGROUND-POSITION: right center; BACKGROUND-IMAGE: url(/images/html/separador_menu_principal.gif); MARGIN-LEFT: -1px; LINE-HEIGHT: 28px; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#menu-principal LI LI {
	FONT-WEIGHT: normal; BACKGROUND-IMAGE: none; MARGIN: 0px; LINE-HEIGHT: 13px; TEXT-ALIGN: left
}
#menu-principal A {
	COLOR: #000040; MARGIN-RIGHT: 0px; TEXT-DECORATION: none
}
#menu-principal LI A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
#menu-principal LI LI A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px 4px; PADDING-TOP: 3px; BORDER-BOTTOM: #e5e5e5 1px solid; WHITE-SPACE: nowrap
}
#menu-principal LI LI A IMG {
	MARGIN: 0px; VERTICAL-ALIGN: middle
}
#menu-principal LI.hover A {
	BACKGROUND-COLOR: #efefef
}
#menu-principal A:hover {
	BACKGROUND-COLOR: #efefef
}
#menu-principal LI.hover LI A {
	BACKGROUND-COLOR: #ffffff
}
#menu-principal LI LI A:hover {
	BACKGROUND-COLOR: #efefef
}
#menu-principal UL UL LI.hover {
	BACKGROUND-COLOR: #ffffff
}
#menu-principal UL UL {
	BORDER-RIGHT: 0px; BORDER-TOP: #efefef 1px solid; BACKGROUND: white; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#menu IFRAME {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)
}
#menu-principal A.item_activo {
	BACKGROUND-COLOR: #efefef
}
#menu-principal LI.hover A.item_activo {
	BACKGROUND-COLOR: #efefef
}
#menu-principal A.submenu {
	BACKGROUND-POSITION: right center; BACKGROUND-IMAGE: url(/images/html/flecha_submenu.gif); BACKGROUND-REPEAT: no-repeat
}
#menu_nivel2 {
	PADDING-BOTTOM: 10px; WIDTH: 148px
}
#menu_nivel2 H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #000040; BACKGROUND-COLOR: #b5bcd5
}
#menu_nivel2 H4.top {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/images/html/pest_tools_x2.gif) #b5bcd5 no-repeat; PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
#menu_nivel2 P {
	COLOR: #707070
}
#menu_nivel2 UL {
	LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
#menu_nivel2 LI {
	FONT-SIZE: 0.7em; WIDTH: 147px; BORDER-BOTTOM: #d8d8d8 1px solid
}
#menu_nivel2 TD {
	VERTICAL-ALIGN: middle
}
#menu_nivel2 LI.last {
	BACKGROUND: url(/images/html/pie_tools_x2.gif) no-repeat left bottom
}
#menu_nivel2 A {
	BACKGROUND-POSITION: left center; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(/images/html/bullet_menu.gif); PADDING-BOTTOM: 4px; WIDTH: 135px; COLOR: #333333; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
#menu_nivel2 LI LI A {
	PADDING-LEFT: 20px; WIDTH: 127px
}
#menu_nivel2 A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
#menu_nivel2 A.item_activo {
	BACKGROUND-COLOR: #efefef
}
#menu_nivel2 LI UL {
	DISPLAY: none; FONT-SIZE: 1.4em
}
#menu_nivel2 LI.item_activo UL {
	DISPLAY: block
}
#menu_nivel2 LI LI {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#menu_nivel2 LI.hover UL {
	
}
#menu_nivel2 LI LI.hover UL {
	
}
#menu_nivel2 LI LI LI.hover UL {
	
}
#menu_nivel2 LI.hover UL IFRAME {
	
}
#menu_nivel2 LI LI.hover UL IFRAME {
	
}
#menu_nivel2 LI LI LI.hover UL IFRAME {
	
}
#menu_nivel2 A.submenu {
	
}
#contenido #subportada H1 {
	MARGIN-BOTTOM: 20px
}
#contenido #subportada .item_subportada {
	FLOAT: left; MARGIN: 0px 20px 4px 0px; WIDTH: 350px; HEIGHT: 7em
}
#contenido #subportada .item_subportada IMG {
	FLOAT: left; MARGIN: 0px 5px 0px 0px
}
#contenido #subportada .item_subportada H4 {
	MARGIN: 0px
}
